<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2018-12-24T21:44:56Z</date>
				<key>ID</key>
				<string>page40</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Videos</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://gnsrobotics.com:8082</key>
					<dict>
						<key>CreationDate</key>
						<date>2025-03-27T04:22:52Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/droplet-filler-banner.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								B4HOOIgsneUp
								OAltaF+2XA==
								</data>
								<key>Size</key>
								<integer>37530</integer>
							</dict>
							<key>files/droplet-filler-inactive.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sItO1XyZug7G
								HhGVw54Ntg==
								</data>
								<key>Size</key>
								<integer>14952</integer>
							</dict>
							<key>files/droplet-filler.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YGs6OhK8ik7A
								AjRVKbfWMw==
								</data>
								<key>Size</key>
								<integer>25883</integer>
							</dict>
							<key>files/filler_logo.png</key>
							<dict>
								<key>Digest</key>
								<data>
								srL4cpedsOLi
								CjzFdYQ1ZA==
								</data>
								<key>Size</key>
								<integer>3706</integer>
							</dict>
							<key>files/foundry-cc-edit-mode-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								sod/04iwl/0l
								gBvCSNiorQ==
								</data>
								<key>Size</key>
								<integer>7556</integer>
							</dict>
							<key>files/image_filler.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LIl7nKmldC10
								3/oCS0cIhg==
								</data>
								<key>Size</key>
								<integer>2885</integer>
							</dict>
							<key>files/poster-187.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Qt+pKXyqNYgu
								vvygaOhp1w==
								</data>
								<key>Size</key>
								<integer>41261</integer>
							</dict>
							<key>files/poster-188.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LkAcZr9faFIT
								GUjGBZnvZg==
								</data>
								<key>Size</key>
								<integer>31430</integer>
							</dict>
							<key>files/poster-189.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zS/GLugUyCAZ
								gJEUhYRTMw==
								</data>
								<key>Size</key>
								<integer>54461</integer>
							</dict>
							<key>files/poster-190.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								b3zYLlYJNPsO
								jBtWKEC9cQ==
								</data>
								<key>Size</key>
								<integer>57135</integer>
							</dict>
							<key>files/poster-191.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								meGTB3c7+KzI
								Ft75mul3aQ==
								</data>
								<key>Size</key>
								<integer>52960</integer>
							</dict>
							<key>files/poster-194.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+4yhR9OCQTX7
								xF9OoHle5w==
								</data>
								<key>Size</key>
								<integer>24053</integer>
							</dict>
							<key>files/poster-215.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QcxVltyRVdFD
								4a3IYLeYXQ==
								</data>
								<key>Size</key>
								<integer>35150</integer>
							</dict>
							<key>files/poster-219.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								j+b4G8/GwLV5
								A1e2oTStLg==
								</data>
								<key>Size</key>
								<integer>53384</integer>
							</dict>
							<key>files/poster-286.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								g1yUIbYwMh3g
								CSYv1UZwWg==
								</data>
								<key>Size</key>
								<integer>60151</integer>
							</dict>
							<key>files/poster-287.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bRr/3HfxJVDl
								lzs9ji+SIQ==
								</data>
								<key>Size</key>
								<integer>40273</integer>
							</dict>
							<key>files/poster-295.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								L0yNt/wl0TWn
								RaMFQUuk5g==
								</data>
								<key>Size</key>
								<integer>46178</integer>
							</dict>
							<key>files/site_bkg_image-1-749.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								o6dm0gn/YhOV
								RiSJE+0+Iw==
								</data>
								<key>Size</key>
								<integer>96151</integer>
							</dict>
							<key>files/stacks_page_page40.css</key>
							<dict>
								<key>Digest</key>
								<data>
								O/8aeodNs//P
								EAqaXQF/8Q==
								</data>
								<key>Size</key>
								<integer>204625</integer>
							</dict>
							<key>files/stacks_page_page40.js</key>
							<dict>
								<key>Digest</key>
								<data>
								sBCdGO9cuSaR
								rpogRWUAzg==
								</data>
								<key>Size</key>
								<integer>99807</integer>
							</dict>
							<key>files/vembed-loading.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								IxGgKhReqYwL
								Cx0yEuYxkQ==
								</data>
								<key>Size</key>
								<integer>7704</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								R49Ysugq/9HK
								HVkkJTKc2g==
								</data>
								<key>Size</key>
								<integer>43596</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page40</string>
						<key>SiteRoot</key>
						<string>media/videos</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
