<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2018-09-19T16:26:41Z</date>
				<key>ID</key>
				<string>page129</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>2023-2024</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://gnsrobotics.com:8082</key>
					<dict>
						<key>CreationDate</key>
						<date>2025-03-19T21:26:28Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/card_overlay_img-3704.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7Auv/k/UPj9K
								wA8eE7UZHQ==
								</data>
								<key>Size</key>
								<integer>50996</integer>
							</dict>
							<key>files/card_overlay_img-4645.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bBvhgYEne4Zt
								lj5PYSifPA==
								</data>
								<key>Size</key>
								<integer>109205</integer>
							</dict>
							<key>files/card_overlay_img-4653.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uu9FAMaR3w1q
								SWdA04tnQg==
								</data>
								<key>Size</key>
								<integer>59415</integer>
							</dict>
							<key>files/card_overlay_img-4693.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xG6ax1Hxt/JA
								ENbX4QXgkw==
								</data>
								<key>Size</key>
								<integer>134671</integer>
							</dict>
							<key>files/card_overlay_img-4735.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tAt4BNsZRN6R
								jHzh+6vbJw==
								</data>
								<key>Size</key>
								<integer>98877</integer>
							</dict>
							<key>files/card_overlay_img-4765.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8LiwUtBw2oVJ
								K6ryQE212g==
								</data>
								<key>Size</key>
								<integer>98137</integer>
							</dict>
							<key>files/card_overlay_img-4783.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Rp57Rgd+dRsO
								u50JUtjlFA==
								</data>
								<key>Size</key>
								<integer>48986</integer>
							</dict>
							<key>files/card_overlay_img-4790.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BWuNISL+ElQl
								AUJiC3mDBA==
								</data>
								<key>Size</key>
								<integer>49962</integer>
							</dict>
							<key>files/card_overlay_img-4800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/DXvgzbclc0O
								C6qs8AZMmA==
								</data>
								<key>Size</key>
								<integer>103071</integer>
							</dict>
							<key>files/card_overlay_img-4880.png</key>
							<dict>
								<key>Digest</key>
								<data>
								EDlGB4T89rLX
								aUk015Lb+A==
								</data>
								<key>Size</key>
								<integer>49002</integer>
							</dict>
							<key>files/card_overlay_img-4888.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RmShiHOUDd1W
								ClPrA/k3bw==
								</data>
								<key>Size</key>
								<integer>120917</integer>
							</dict>
							<key>files/card_overlay_img-5041.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HZaNImN0Dx2M
								TwzS1mI0tQ==
								</data>
								<key>Size</key>
								<integer>98172</integer>
							</dict>
							<key>files/card_overlay_img-5056.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uu9FAMaR3w1q
								SWdA04tnQg==
								</data>
								<key>Size</key>
								<integer>59415</integer>
							</dict>
							<key>files/card_overlay_img-5094.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qW/6sU5LgiFN
								37g9yDT+FA==
								</data>
								<key>Size</key>
								<integer>45728</integer>
							</dict>
							<key>files/card_overlay_img-5307.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FxsdnG6vgBNI
								c73+pFv/Vw==
								</data>
								<key>Size</key>
								<integer>55034</integer>
							</dict>
							<key>files/card_overlay_img-5334.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/DXvgzbclc0O
								C6qs8AZMmA==
								</data>
								<key>Size</key>
								<integer>103071</integer>
							</dict>
							<key>files/card_overlay_img-5367.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aPeKtmteb1tZ
								f3Art9crSQ==
								</data>
								<key>Size</key>
								<integer>114424</integer>
							</dict>
							<key>files/card_overlay_img-5376.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xG6ax1Hxt/JA
								ENbX4QXgkw==
								</data>
								<key>Size</key>
								<integer>134671</integer>
							</dict>
							<key>files/card_overlay_img-5385.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/DXvgzbclc0O
								C6qs8AZMmA==
								</data>
								<key>Size</key>
								<integer>103071</integer>
							</dict>
							<key>files/card_overlay_img-5394.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8LiwUtBw2oVJ
								K6ryQE212g==
								</data>
								<key>Size</key>
								<integer>98137</integer>
							</dict>
							<key>files/card_overlay_img-5406.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xG6ax1Hxt/JA
								ENbX4QXgkw==
								</data>
								<key>Size</key>
								<integer>134671</integer>
							</dict>
							<key>files/card_overlay_img-5418.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zBo6+JWXkpHr
								wYPsEnFu1A==
								</data>
								<key>Size</key>
								<integer>54876</integer>
							</dict>
							<key>files/card_overlay_img-5428.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/DXvgzbclc0O
								C6qs8AZMmA==
								</data>
								<key>Size</key>
								<integer>103071</integer>
							</dict>
							<key>files/card_overlay_img-5437.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bBvhgYEne4Zt
								lj5PYSifPA==
								</data>
								<key>Size</key>
								<integer>109205</integer>
							</dict>
							<key>files/card_overlay_img-5448.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xG6ax1Hxt/JA
								ENbX4QXgkw==
								</data>
								<key>Size</key>
								<integer>134671</integer>
							</dict>
							<key>files/card_overlay_img-5463.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/n10OLOndcV+
								PWXhAlY+ZA==
								</data>
								<key>Size</key>
								<integer>97549</integer>
							</dict>
							<key>files/card_overlay_img-5502.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oha4qO0qE1Ek
								duRsMkmcQQ==
								</data>
								<key>Size</key>
								<integer>55303</integer>
							</dict>
							<key>files/card_overlay_img-5512.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Rp57Rgd+dRsO
								u50JUtjlFA==
								</data>
								<key>Size</key>
								<integer>48986</integer>
							</dict>
							<key>files/card_overlay_img-5525.png</key>
							<dict>
								<key>Digest</key>
								<data>
								b54fS0g0H6p/
								jW/Aq/L2WQ==
								</data>
								<key>Size</key>
								<integer>61997</integer>
							</dict>
							<key>files/card_overlay_img-5672.png</key>
							<dict>
								<key>Digest</key>
								<data>
								m0XCxauvlp7+
								N5WsRZ5PzA==
								</data>
								<key>Size</key>
								<integer>50702</integer>
							</dict>
							<key>files/card_overlay_img-5680.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zBo6+JWXkpHr
								wYPsEnFu1A==
								</data>
								<key>Size</key>
								<integer>54876</integer>
							</dict>
							<key>files/droplet-filler-banner.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								B4HOOIgsneUp
								OAltaF+2XA==
								</data>
								<key>Size</key>
								<integer>37530</integer>
							</dict>
							<key>files/droplet-filler-inactive.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sItO1XyZug7G
								HhGVw54Ntg==
								</data>
								<key>Size</key>
								<integer>14952</integer>
							</dict>
							<key>files/droplet-filler.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YGs6OhK8ik7A
								AjRVKbfWMw==
								</data>
								<key>Size</key>
								<integer>25883</integer>
							</dict>
							<key>files/filler_logo.png</key>
							<dict>
								<key>Digest</key>
								<data>
								srL4cpedsOLi
								CjzFdYQ1ZA==
								</data>
								<key>Size</key>
								<integer>3706</integer>
							</dict>
							<key>files/foundry-cc-edit-mode-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								sod/04iwl/0l
								gBvCSNiorQ==
								</data>
								<key>Size</key>
								<integer>7556</integer>
							</dict>
							<key>files/image_filler.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LIl7nKmldC10
								3/oCS0cIhg==
								</data>
								<key>Size</key>
								<integer>2885</integer>
							</dict>
							<key>files/overlay_image_filler.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9auUfLu9baEf
								7T/TOQT9KQ==
								</data>
								<key>Size</key>
								<integer>11016</integer>
							</dict>
							<key>files/site_bkg_image-1-749.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								o6dm0gn/YhOV
								RiSJE+0+Iw==
								</data>
								<key>Size</key>
								<integer>96151</integer>
							</dict>
							<key>files/stacks_page_page129.css</key>
							<dict>
								<key>Digest</key>
								<data>
								nOrWIORtiK5E
								uSpqqXqLtQ==
								</data>
								<key>Size</key>
								<integer>296549</integer>
							</dict>
							<key>files/stacks_page_page129.js</key>
							<dict>
								<key>Digest</key>
								<data>
								w33iDvJj1F7p
								iqFCVMJNfg==
								</data>
								<key>Size</key>
								<integer>91908</integer>
							</dict>
							<key>files/thumbnail-3704.png</key>
							<dict>
								<key>Digest</key>
								<data>
								fPqauDG21Ssi
								nv5OfW5IjQ==
								</data>
								<key>Size</key>
								<integer>70035</integer>
							</dict>
							<key>files/thumbnail-4645.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aEO//wh7MAD/
								o5gWhHKtLQ==
								</data>
								<key>Size</key>
								<integer>14402</integer>
							</dict>
							<key>files/thumbnail-4653.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BFGHpZ95Gaql
								QheA0Fd8Vg==
								</data>
								<key>Size</key>
								<integer>81217</integer>
							</dict>
							<key>files/thumbnail-4693.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pF7tbehY2CtH
								neBfZQvOvA==
								</data>
								<key>Size</key>
								<integer>16216</integer>
							</dict>
							<key>files/thumbnail-4735.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yPl9/AjF/waT
								BkIkugMmig==
								</data>
								<key>Size</key>
								<integer>12257</integer>
							</dict>
							<key>files/thumbnail-4765.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LuV2NiFUU3So
								ewCOHIajgg==
								</data>
								<key>Size</key>
								<integer>12921</integer>
							</dict>
							<key>files/thumbnail-4783.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C1wjmQuBJFmC
								DQXR5dOyNg==
								</data>
								<key>Size</key>
								<integer>70570</integer>
							</dict>
							<key>files/thumbnail-4790.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qQF6xS6fhGVr
								yt7fOn7FRA==
								</data>
								<key>Size</key>
								<integer>71422</integer>
							</dict>
							<key>files/thumbnail-4800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sqZv9aX1VQ94
								8mqPtqOnwQ==
								</data>
								<key>Size</key>
								<integer>13442</integer>
							</dict>
							<key>files/thumbnail-4880.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yjbO/btm5kOk
								LI94LxPaJA==
								</data>
								<key>Size</key>
								<integer>71505</integer>
							</dict>
							<key>files/thumbnail-4888.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Mr3IN5Dr4Sws
								EfOGCXFh5g==
								</data>
								<key>Size</key>
								<integer>13810</integer>
							</dict>
							<key>files/thumbnail-5041.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XdN45Q5+vG1h
								6JuwLDZKMA==
								</data>
								<key>Size</key>
								<integer>13403</integer>
							</dict>
							<key>files/thumbnail-5056.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BFGHpZ95Gaql
								QheA0Fd8Vg==
								</data>
								<key>Size</key>
								<integer>81217</integer>
							</dict>
							<key>files/thumbnail-5094.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tkJlakt86KOZ
								BLE1MyEn1Q==
								</data>
								<key>Size</key>
								<integer>64958</integer>
							</dict>
							<key>files/thumbnail-5307.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uscs/Qe/Y5eW
								hS/pFLoEKQ==
								</data>
								<key>Size</key>
								<integer>79803</integer>
							</dict>
							<key>files/thumbnail-5334.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sqZv9aX1VQ94
								8mqPtqOnwQ==
								</data>
								<key>Size</key>
								<integer>13442</integer>
							</dict>
							<key>files/thumbnail-5367.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9wgF+zUUPR+a
								AD64kycggQ==
								</data>
								<key>Size</key>
								<integer>15458</integer>
							</dict>
							<key>files/thumbnail-5376.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pF7tbehY2CtH
								neBfZQvOvA==
								</data>
								<key>Size</key>
								<integer>16216</integer>
							</dict>
							<key>files/thumbnail-5385.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sqZv9aX1VQ94
								8mqPtqOnwQ==
								</data>
								<key>Size</key>
								<integer>13442</integer>
							</dict>
							<key>files/thumbnail-5394.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LuV2NiFUU3So
								ewCOHIajgg==
								</data>
								<key>Size</key>
								<integer>12921</integer>
							</dict>
							<key>files/thumbnail-5406.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pF7tbehY2CtH
								neBfZQvOvA==
								</data>
								<key>Size</key>
								<integer>16216</integer>
							</dict>
							<key>files/thumbnail-5418.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Po4s/ar49KWz
								92bA85OXoQ==
								</data>
								<key>Size</key>
								<integer>79269</integer>
							</dict>
							<key>files/thumbnail-5428.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sqZv9aX1VQ94
								8mqPtqOnwQ==
								</data>
								<key>Size</key>
								<integer>13442</integer>
							</dict>
							<key>files/thumbnail-5437.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aEO//wh7MAD/
								o5gWhHKtLQ==
								</data>
								<key>Size</key>
								<integer>14402</integer>
							</dict>
							<key>files/thumbnail-5448.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pF7tbehY2CtH
								neBfZQvOvA==
								</data>
								<key>Size</key>
								<integer>16216</integer>
							</dict>
							<key>files/thumbnail-5463.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JphUanpkX3fd
								6RJs43g90g==
								</data>
								<key>Size</key>
								<integer>13526</integer>
							</dict>
							<key>files/thumbnail-5502.png</key>
							<dict>
								<key>Digest</key>
								<data>
								g/nOWuBolp5T
								Ov8+5fJGRQ==
								</data>
								<key>Size</key>
								<integer>77425</integer>
							</dict>
							<key>files/thumbnail-5512.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C1wjmQuBJFmC
								DQXR5dOyNg==
								</data>
								<key>Size</key>
								<integer>70570</integer>
							</dict>
							<key>files/thumbnail-5525.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+mCSEibXibmr
								RJILfHI9vg==
								</data>
								<key>Size</key>
								<integer>79130</integer>
							</dict>
							<key>files/thumbnail-5672.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CZdqy3QORyC4
								OuR0Yf8uNw==
								</data>
								<key>Size</key>
								<integer>72091</integer>
							</dict>
							<key>files/thumbnail-5680.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Po4s/ar49KWz
								92bA85OXoQ==
								</data>
								<key>Size</key>
								<integer>79269</integer>
							</dict>
							<key>files/top_bottom_filler_image.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								m+6bbauvXr8J
								PaMurpVVQA==
								</data>
								<key>Size</key>
								<integer>16447</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								zPkgGeDYaWZD
								dY+K0mlYjA==
								</data>
								<key>Size</key>
								<integer>64978</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page129</string>
						<key>SiteRoot</key>
						<string>about/leadership-council/2024</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
