<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2018-09-19T16:26:41Z</date>
				<key>ID</key>
				<string>page106</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>2020-2021 </string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://gnsrobotics.com:8082</key>
					<dict>
						<key>CreationDate</key>
						<date>2025-03-19T03:20:33Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/card_overlay_img-1675.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mSx227n++0Zv
								0IxNqUNtAQ==
								</data>
								<key>Size</key>
								<integer>33796</integer>
							</dict>
							<key>files/card_overlay_img-1690.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zNejbvKhyNP5
								QeJtwAoitQ==
								</data>
								<key>Size</key>
								<integer>34904</integer>
							</dict>
							<key>files/card_overlay_img-1783.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qusx4qBDzTzI
								PJqe0suqtw==
								</data>
								<key>Size</key>
								<integer>31524</integer>
							</dict>
							<key>files/card_overlay_img-1963.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								px768HYQH1jM
								Q3REAqobcg==
								</data>
								<key>Size</key>
								<integer>51792</integer>
							</dict>
							<key>files/card_overlay_img-1979.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								y5JWQEDxJsyF
								ZsFWoFfmEg==
								</data>
								<key>Size</key>
								<integer>33668</integer>
							</dict>
							<key>files/card_overlay_img-2069.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9xUXE5PBvpav
								71x5GrGH0Q==
								</data>
								<key>Size</key>
								<integer>32631</integer>
							</dict>
							<key>files/card_overlay_img-2138.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DE19RS918q2b
								m2C50HfZTg==
								</data>
								<key>Size</key>
								<integer>33474</integer>
							</dict>
							<key>files/card_overlay_img-2188.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XzVnfC0bHj/D
								QPSudC2dBw==
								</data>
								<key>Size</key>
								<integer>33368</integer>
							</dict>
							<key>files/card_overlay_img-2296.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mSx227n++0Zv
								0IxNqUNtAQ==
								</data>
								<key>Size</key>
								<integer>33796</integer>
							</dict>
							<key>files/card_overlay_img-2297.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qusx4qBDzTzI
								PJqe0suqtw==
								</data>
								<key>Size</key>
								<integer>31524</integer>
							</dict>
							<key>files/card_overlay_img-2298.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Yp0FMDRHcokh
								9SZ3a+jtFQ==
								</data>
								<key>Size</key>
								<integer>38867</integer>
							</dict>
							<key>files/card_overlay_img-2347.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9Qy1ZZxfvd5Q
								U01Hm5gSsA==
								</data>
								<key>Size</key>
								<integer>34005</integer>
							</dict>
							<key>files/card_overlay_img-2360.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ni9nWzHYuk9E
								57s9H/sIAw==
								</data>
								<key>Size</key>
								<integer>34650</integer>
							</dict>
							<key>files/card_overlay_img-2373.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jkJn24BN+FGH
								NmXqy7oYOA==
								</data>
								<key>Size</key>
								<integer>46468</integer>
							</dict>
							<key>files/card_overlay_img-2478.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fB50cHqETHZk
								svQq5M/tKw==
								</data>
								<key>Size</key>
								<integer>42949</integer>
							</dict>
							<key>files/card_overlay_img-2592.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fCvoGiFlzWdq
								F32AxFZUnw==
								</data>
								<key>Size</key>
								<integer>35729</integer>
							</dict>
							<key>files/card_overlay_img-2605.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								J2xg376PxVay
								D7nglAQt7w==
								</data>
								<key>Size</key>
								<integer>33395</integer>
							</dict>
							<key>files/card_overlay_img-2635.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4PIGQ6FJUin+
								GPxtC3/cmQ==
								</data>
								<key>Size</key>
								<integer>35713</integer>
							</dict>
							<key>files/card_overlay_img-2648.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MVM6o4unM4RL
								v5G23In8mg==
								</data>
								<key>Size</key>
								<integer>37685</integer>
							</dict>
							<key>files/card_overlay_img-2718.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ErZAhteSZnk1
								AjIhKRCiZQ==
								</data>
								<key>Size</key>
								<integer>29177</integer>
							</dict>
							<key>files/card_overlay_img-2719.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								R0oYLEkiGUEL
								fodAAFKSQg==
								</data>
								<key>Size</key>
								<integer>30924</integer>
							</dict>
							<key>files/card_overlay_img-2755.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								duzZXeiXwsQg
								a7R6dpJv/w==
								</data>
								<key>Size</key>
								<integer>34723</integer>
							</dict>
							<key>files/card_overlay_img-2892.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								7kqe6rFyImNY
								0rgXUl1wCQ==
								</data>
								<key>Size</key>
								<integer>34200</integer>
							</dict>
							<key>files/card_overlay_img-3678.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tDdH93qh33g4
								dwi0RUgD1Q==
								</data>
								<key>Size</key>
								<integer>33774</integer>
							</dict>
							<key>files/card_overlay_img-3704.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mLWsbaDv4aBb
								VHzcR8GoWw==
								</data>
								<key>Size</key>
								<integer>28004</integer>
							</dict>
							<key>files/card_overlay_img-3719.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dVEh/g8RdoDJ
								tp/VohCLKA==
								</data>
								<key>Size</key>
								<integer>33166</integer>
							</dict>
							<key>files/card_overlay_img-3726.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XeMV2W6JmwKg
								SOhlKmmWdQ==
								</data>
								<key>Size</key>
								<integer>30245</integer>
							</dict>
							<key>files/card_overlay_img-3733.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iwasncn6kl5r
								IGI1Z+5QdQ==
								</data>
								<key>Size</key>
								<integer>43379</integer>
							</dict>
							<key>files/card_overlay_img-3786.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jh548YaUMX2W
								CHRCoooG5Q==
								</data>
								<key>Size</key>
								<integer>33269</integer>
							</dict>
							<key>files/card_overlay_img-3796.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oSIvqmza0329
								1Un8ky0dtA==
								</data>
								<key>Size</key>
								<integer>34859</integer>
							</dict>
							<key>files/card_overlay_img-3803.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rfzE1KVhAw+s
								slDeebR4/g==
								</data>
								<key>Size</key>
								<integer>36402</integer>
							</dict>
							<key>files/card_overlay_img-3813.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZGYAseuy2zrb
								mCdGlrTd0Q==
								</data>
								<key>Size</key>
								<integer>47670</integer>
							</dict>
							<key>files/card_overlay_img-3860.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DE19RS918q2b
								m2C50HfZTg==
								</data>
								<key>Size</key>
								<integer>33474</integer>
							</dict>
							<key>files/card_overlay_img-3869.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jydz828GUrN8
								HriiPCS+7w==
								</data>
								<key>Size</key>
								<integer>36292</integer>
							</dict>
							<key>files/card_overlay_img-3876.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								J2xg376PxVay
								D7nglAQt7w==
								</data>
								<key>Size</key>
								<integer>33395</integer>
							</dict>
							<key>files/card_overlay_img-3885.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Bna3i1XKrTvI
								n9enf03BXg==
								</data>
								<key>Size</key>
								<integer>30590</integer>
							</dict>
							<key>files/card_overlay_img-3917.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								k2dUzjSPMQfe
								USekLgRLhg==
								</data>
								<key>Size</key>
								<integer>25880</integer>
							</dict>
							<key>files/card_overlay_img-3927.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HV24p5E/8/zz
								6PI0bcSSKg==
								</data>
								<key>Size</key>
								<integer>28118</integer>
							</dict>
							<key>files/card_overlay_img-3934.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iyWeauDbWbxc
								EIwNm2TgfA==
								</data>
								<key>Size</key>
								<integer>23961</integer>
							</dict>
							<key>files/card_overlay_img-3941.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								y5JWQEDxJsyF
								ZsFWoFfmEg==
								</data>
								<key>Size</key>
								<integer>33668</integer>
							</dict>
							<key>files/card_overlay_img-3951.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jydz828GUrN8
								HriiPCS+7w==
								</data>
								<key>Size</key>
								<integer>36292</integer>
							</dict>
							<key>files/card_overlay_img-3958.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9Qy1ZZxfvd5Q
								U01Hm5gSsA==
								</data>
								<key>Size</key>
								<integer>34005</integer>
							</dict>
							<key>files/card_overlay_img-3966.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ni9nWzHYuk9E
								57s9H/sIAw==
								</data>
								<key>Size</key>
								<integer>34650</integer>
							</dict>
							<key>files/card_overlay_img-3975.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								y5JWQEDxJsyF
								ZsFWoFfmEg==
								</data>
								<key>Size</key>
								<integer>33668</integer>
							</dict>
							<key>files/card_overlay_img-3989.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Bna3i1XKrTvI
								n9enf03BXg==
								</data>
								<key>Size</key>
								<integer>30590</integer>
							</dict>
							<key>files/card_overlay_img-4000.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								y4e0YJXuepcV
								cs3z5f4Tyw==
								</data>
								<key>Size</key>
								<integer>38231</integer>
							</dict>
							<key>files/card_overlay_img-4028.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZWIY1gOgQ1h9
								EemGeHJ5ZA==
								</data>
								<key>Size</key>
								<integer>55714</integer>
							</dict>
							<key>files/card_overlay_img-4050.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Bna3i1XKrTvI
								n9enf03BXg==
								</data>
								<key>Size</key>
								<integer>30590</integer>
							</dict>
							<key>files/card_overlay_img-4060.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oSIvqmza0329
								1Un8ky0dtA==
								</data>
								<key>Size</key>
								<integer>34859</integer>
							</dict>
							<key>files/card_overlay_img-4068.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								J2xg376PxVay
								D7nglAQt7w==
								</data>
								<key>Size</key>
								<integer>33395</integer>
							</dict>
							<key>files/card_overlay_img-4075.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MVM6o4unM4RL
								v5G23In8mg==
								</data>
								<key>Size</key>
								<integer>37685</integer>
							</dict>
							<key>files/card_overlay_img-4082.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jkJn24BN+FGH
								NmXqy7oYOA==
								</data>
								<key>Size</key>
								<integer>46468</integer>
							</dict>
							<key>files/card_overlay_img-4095.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zNejbvKhyNP5
								QeJtwAoitQ==
								</data>
								<key>Size</key>
								<integer>34904</integer>
							</dict>
							<key>files/card_overlay_img-4104.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ndDovpmf3EMR
								sL7X9+swXw==
								</data>
								<key>Size</key>
								<integer>36017</integer>
							</dict>
							<key>files/card_overlay_img-4115.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HV24p5E/8/zz
								6PI0bcSSKg==
								</data>
								<key>Size</key>
								<integer>28118</integer>
							</dict>
							<key>files/card_overlay_img-4124.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								y5JWQEDxJsyF
								ZsFWoFfmEg==
								</data>
								<key>Size</key>
								<integer>33668</integer>
							</dict>
							<key>files/droplet-filler-banner.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								B4HOOIgsneUp
								OAltaF+2XA==
								</data>
								<key>Size</key>
								<integer>37530</integer>
							</dict>
							<key>files/droplet-filler-inactive.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sItO1XyZug7G
								HhGVw54Ntg==
								</data>
								<key>Size</key>
								<integer>14952</integer>
							</dict>
							<key>files/droplet-filler.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YGs6OhK8ik7A
								AjRVKbfWMw==
								</data>
								<key>Size</key>
								<integer>25883</integer>
							</dict>
							<key>files/filler_logo.png</key>
							<dict>
								<key>Digest</key>
								<data>
								srL4cpedsOLi
								CjzFdYQ1ZA==
								</data>
								<key>Size</key>
								<integer>3706</integer>
							</dict>
							<key>files/foundry-cc-edit-mode-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								sod/04iwl/0l
								gBvCSNiorQ==
								</data>
								<key>Size</key>
								<integer>7556</integer>
							</dict>
							<key>files/image_filler.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LIl7nKmldC10
								3/oCS0cIhg==
								</data>
								<key>Size</key>
								<integer>2885</integer>
							</dict>
							<key>files/overlay_image_filler.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9auUfLu9baEf
								7T/TOQT9KQ==
								</data>
								<key>Size</key>
								<integer>11016</integer>
							</dict>
							<key>files/site_bkg_image-1-749.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								o6dm0gn/YhOV
								RiSJE+0+Iw==
								</data>
								<key>Size</key>
								<integer>96151</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wANifJ2yGeIS
								vLjVRAp1mw==
								</data>
								<key>Size</key>
								<integer>1296</integer>
							</dict>
							<key>files/stacks_page_page106.css</key>
							<dict>
								<key>Digest</key>
								<data>
								4jMovPfhCC2j
								lrsIfES8CA==
								</data>
								<key>Size</key>
								<integer>351413</integer>
							</dict>
							<key>files/stacks_page_page106.js</key>
							<dict>
								<key>Digest</key>
								<data>
								vg3gSNJlP996
								hcMI4Qi8Yw==
								</data>
								<key>Size</key>
								<integer>95788</integer>
							</dict>
							<key>files/thumbnail-1675.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								h7R2/COfuD0a
								TMw+0bivKQ==
								</data>
								<key>Size</key>
								<integer>10889</integer>
							</dict>
							<key>files/thumbnail-1690.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xHZoSFgKH4It
								SdHKK65R9A==
								</data>
								<key>Size</key>
								<integer>12352</integer>
							</dict>
							<key>files/thumbnail-1783.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rCv9f3cflEpH
								axPKPJOksQ==
								</data>
								<key>Size</key>
								<integer>11700</integer>
							</dict>
							<key>files/thumbnail-1963.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								we4VYpsoCXlE
								RyUqGrVCfA==
								</data>
								<key>Size</key>
								<integer>15087</integer>
							</dict>
							<key>files/thumbnail-1979.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HpQtKfCceuEd
								udd+ne747Q==
								</data>
								<key>Size</key>
								<integer>13301</integer>
							</dict>
							<key>files/thumbnail-2069.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Zru3azJfQG59
								IfKCWBcCHg==
								</data>
								<key>Size</key>
								<integer>11865</integer>
							</dict>
							<key>files/thumbnail-2138.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NRdS2J+WHNfe
								Mp4JbFkU+A==
								</data>
								<key>Size</key>
								<integer>12629</integer>
							</dict>
							<key>files/thumbnail-2188.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								J9EReaAgfsNK
								67vSSiJxLg==
								</data>
								<key>Size</key>
								<integer>11762</integer>
							</dict>
							<key>files/thumbnail-2296.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								h7R2/COfuD0a
								TMw+0bivKQ==
								</data>
								<key>Size</key>
								<integer>10889</integer>
							</dict>
							<key>files/thumbnail-2297.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rCv9f3cflEpH
								axPKPJOksQ==
								</data>
								<key>Size</key>
								<integer>11700</integer>
							</dict>
							<key>files/thumbnail-2298.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								doOjXG8DMnQL
								1GtQAakRLg==
								</data>
								<key>Size</key>
								<integer>12710</integer>
							</dict>
							<key>files/thumbnail-2347.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZnmmaHjd6Cjg
								lyimGVo+Aw==
								</data>
								<key>Size</key>
								<integer>11907</integer>
							</dict>
							<key>files/thumbnail-2360.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VpqfPhZq4xHy
								KPWQzjmVyg==
								</data>
								<key>Size</key>
								<integer>12386</integer>
							</dict>
							<key>files/thumbnail-2373.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NhFW7pCbXpUg
								B5s5d+XNBw==
								</data>
								<key>Size</key>
								<integer>14305</integer>
							</dict>
							<key>files/thumbnail-2478.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5IEjLMc+SueU
								XiJ9VOoIPA==
								</data>
								<key>Size</key>
								<integer>15333</integer>
							</dict>
							<key>files/thumbnail-2592.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wR/+03izFQle
								BhzitXWJjQ==
								</data>
								<key>Size</key>
								<integer>12129</integer>
							</dict>
							<key>files/thumbnail-2605.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UuoA7S2GvuLJ
								WrAXZ0S+YQ==
								</data>
								<key>Size</key>
								<integer>11678</integer>
							</dict>
							<key>files/thumbnail-2635.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+RdMmqwxEbsp
								Y290Bqjiiw==
								</data>
								<key>Size</key>
								<integer>12654</integer>
							</dict>
							<key>files/thumbnail-2648.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gXBPZsK2FdNo
								HD2XG3+a0w==
								</data>
								<key>Size</key>
								<integer>13996</integer>
							</dict>
							<key>files/thumbnail-2718.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fglqrjGNvd5O
								FiQ4w0ZhLQ==
								</data>
								<key>Size</key>
								<integer>11462</integer>
							</dict>
							<key>files/thumbnail-2719.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Q6iD5s2rbBQv
								VfLFw68ctA==
								</data>
								<key>Size</key>
								<integer>11836</integer>
							</dict>
							<key>files/thumbnail-2755.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NRTUVNlTlFzb
								r7Bwh80BTQ==
								</data>
								<key>Size</key>
								<integer>12271</integer>
							</dict>
							<key>files/thumbnail-2892.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EEC9GS0vHufa
								QalVOJeihA==
								</data>
								<key>Size</key>
								<integer>11968</integer>
							</dict>
							<key>files/thumbnail-3678.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KAuaBndeY6/1
								TagWLQwOQQ==
								</data>
								<key>Size</key>
								<integer>13588</integer>
							</dict>
							<key>files/thumbnail-3704.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ywsq+42td+qa
								ogNTJvw9LQ==
								</data>
								<key>Size</key>
								<integer>11648</integer>
							</dict>
							<key>files/thumbnail-3719.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ON/xtjlF3icp
								m72ONIdMag==
								</data>
								<key>Size</key>
								<integer>11966</integer>
							</dict>
							<key>files/thumbnail-3726.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Fd8QA3bxvKl6
								YdB7KJ4jmw==
								</data>
								<key>Size</key>
								<integer>11867</integer>
							</dict>
							<key>files/thumbnail-3733.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PVoFegV9NWOR
								m74KiCdgMA==
								</data>
								<key>Size</key>
								<integer>13189</integer>
							</dict>
							<key>files/thumbnail-3786.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QezR5Dal+jNp
								T3YxAxQhGg==
								</data>
								<key>Size</key>
								<integer>11319</integer>
							</dict>
							<key>files/thumbnail-3796.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kwPDjXL/lGTI
								X6tAkCvo1A==
								</data>
								<key>Size</key>
								<integer>12343</integer>
							</dict>
							<key>files/thumbnail-3803.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								b8OA3bPEMv3V
								aXjJD0e7YA==
								</data>
								<key>Size</key>
								<integer>12068</integer>
							</dict>
							<key>files/thumbnail-3813.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								CB0FHCFeatcR
								FojzmJKG7A==
								</data>
								<key>Size</key>
								<integer>14587</integer>
							</dict>
							<key>files/thumbnail-3860.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NRdS2J+WHNfe
								Mp4JbFkU+A==
								</data>
								<key>Size</key>
								<integer>12629</integer>
							</dict>
							<key>files/thumbnail-3869.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								G8X74E7CXO+e
								v6g6aRlBsA==
								</data>
								<key>Size</key>
								<integer>12730</integer>
							</dict>
							<key>files/thumbnail-3876.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UuoA7S2GvuLJ
								WrAXZ0S+YQ==
								</data>
								<key>Size</key>
								<integer>11678</integer>
							</dict>
							<key>files/thumbnail-3885.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eVgfzbYGBL4R
								LCafD02XfA==
								</data>
								<key>Size</key>
								<integer>12121</integer>
							</dict>
							<key>files/thumbnail-3917.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								R0o2Rl4bjw0E
								6bB+mBZhnA==
								</data>
								<key>Size</key>
								<integer>11068</integer>
							</dict>
							<key>files/thumbnail-3927.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Gw/rDn+3ex1N
								7Bl376O3sg==
								</data>
								<key>Size</key>
								<integer>11663</integer>
							</dict>
							<key>files/thumbnail-3934.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								mF6FpsRwTTCX
								b54CNrcBpw==
								</data>
								<key>Size</key>
								<integer>11421</integer>
							</dict>
							<key>files/thumbnail-3941.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HpQtKfCceuEd
								udd+ne747Q==
								</data>
								<key>Size</key>
								<integer>13301</integer>
							</dict>
							<key>files/thumbnail-3951.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								G8X74E7CXO+e
								v6g6aRlBsA==
								</data>
								<key>Size</key>
								<integer>12730</integer>
							</dict>
							<key>files/thumbnail-3958.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZnmmaHjd6Cjg
								lyimGVo+Aw==
								</data>
								<key>Size</key>
								<integer>11907</integer>
							</dict>
							<key>files/thumbnail-3966.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VpqfPhZq4xHy
								KPWQzjmVyg==
								</data>
								<key>Size</key>
								<integer>12386</integer>
							</dict>
							<key>files/thumbnail-3975.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HpQtKfCceuEd
								udd+ne747Q==
								</data>
								<key>Size</key>
								<integer>13301</integer>
							</dict>
							<key>files/thumbnail-3989.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eVgfzbYGBL4R
								LCafD02XfA==
								</data>
								<key>Size</key>
								<integer>12121</integer>
							</dict>
							<key>files/thumbnail-4000.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BwABSH1I0j+C
								Fm1QgLQZiw==
								</data>
								<key>Size</key>
								<integer>12836</integer>
							</dict>
							<key>files/thumbnail-4028.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								foIJB5z75tlK
								DelPEG7PUw==
								</data>
								<key>Size</key>
								<integer>17497</integer>
							</dict>
							<key>files/thumbnail-4050.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eVgfzbYGBL4R
								LCafD02XfA==
								</data>
								<key>Size</key>
								<integer>12121</integer>
							</dict>
							<key>files/thumbnail-4060.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kwPDjXL/lGTI
								X6tAkCvo1A==
								</data>
								<key>Size</key>
								<integer>12343</integer>
							</dict>
							<key>files/thumbnail-4068.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UuoA7S2GvuLJ
								WrAXZ0S+YQ==
								</data>
								<key>Size</key>
								<integer>11678</integer>
							</dict>
							<key>files/thumbnail-4075.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gXBPZsK2FdNo
								HD2XG3+a0w==
								</data>
								<key>Size</key>
								<integer>13996</integer>
							</dict>
							<key>files/thumbnail-4082.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NhFW7pCbXpUg
								B5s5d+XNBw==
								</data>
								<key>Size</key>
								<integer>14305</integer>
							</dict>
							<key>files/thumbnail-4095.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xHZoSFgKH4It
								SdHKK65R9A==
								</data>
								<key>Size</key>
								<integer>12352</integer>
							</dict>
							<key>files/thumbnail-4104.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jHGTahyjDsDr
								KEjmM7BQpg==
								</data>
								<key>Size</key>
								<integer>12851</integer>
							</dict>
							<key>files/thumbnail-4115.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Gw/rDn+3ex1N
								7Bl376O3sg==
								</data>
								<key>Size</key>
								<integer>11663</integer>
							</dict>
							<key>files/thumbnail-4124.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HpQtKfCceuEd
								udd+ne747Q==
								</data>
								<key>Size</key>
								<integer>13301</integer>
							</dict>
							<key>files/top_bottom_filler_image.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								m+6bbauvXr8J
								PaMurpVVQA==
								</data>
								<key>Size</key>
								<integer>16447</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								1Dd6ETWg5Cq+
								cquO5oclww==
								</data>
								<key>Size</key>
								<integer>85568</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page106</string>
						<key>SiteRoot</key>
						<string>about/leadership-council/2021</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
