<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2018-09-19T16:26:41Z</date>
				<key>ID</key>
				<string>page95</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>2018-2019</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://gnsrobotics.com:8082</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-06-25T02:05:22Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/card_overlay_img-342.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Cvz2kJbqFJ17
								uvv1TZNVNw==
								</data>
								<key>Size</key>
								<integer>27907</integer>
							</dict>
							<key>files/card_overlay_img-498.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EjDsweumURld
								NM9TnQObQQ==
								</data>
								<key>Size</key>
								<integer>44224</integer>
							</dict>
							<key>files/card_overlay_img-520.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dwPJyS98JL4Z
								4tNYUaiT8A==
								</data>
								<key>Size</key>
								<integer>159135</integer>
							</dict>
							<key>files/card_overlay_img-541.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								C2PeUZE6i2CL
								Un5FVKFQ4A==
								</data>
								<key>Size</key>
								<integer>10813</integer>
							</dict>
							<key>files/card_overlay_img-559.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KSUHjO6mpl5K
								bdpv7jgWzg==
								</data>
								<key>Size</key>
								<integer>9843</integer>
							</dict>
							<key>files/card_overlay_img-577.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aUs2Y5GfgTUK
								vTF7vFNmwA==
								</data>
								<key>Size</key>
								<integer>51626</integer>
							</dict>
							<key>files/card_overlay_img-609.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UHQcECGJPftD
								tmG3p/OFCg==
								</data>
								<key>Size</key>
								<integer>10917</integer>
							</dict>
							<key>files/card_overlay_img-627.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								s+4CLv+4fHqA
								KX72p/FKrw==
								</data>
								<key>Size</key>
								<integer>44033</integer>
							</dict>
							<key>files/card_overlay_img-645.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vDQeNKyS97P0
								Awhjv7LiKg==
								</data>
								<key>Size</key>
								<integer>41327</integer>
							</dict>
							<key>files/card_overlay_img-677.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4gjRsVLQY8B+
								0ZgUbB3o3Q==
								</data>
								<key>Size</key>
								<integer>77400</integer>
							</dict>
							<key>files/card_overlay_img-697.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Fs4q52T/d//1
								JWdliny7KA==
								</data>
								<key>Size</key>
								<integer>29060</integer>
							</dict>
							<key>files/card_overlay_img-715.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								npX82kApDSyt
								WtcmD4zwfA==
								</data>
								<key>Size</key>
								<integer>69617</integer>
							</dict>
							<key>files/card_overlay_img-765.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fe2xZTw7Bnby
								be0BPLCezA==
								</data>
								<key>Size</key>
								<integer>61554</integer>
							</dict>
							<key>files/card_overlay_img-785.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								T4Nx2uTQ/WGs
								GQwmTqhSiw==
								</data>
								<key>Size</key>
								<integer>20019</integer>
							</dict>
							<key>files/card_overlay_img-814.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								73laFDJvkneY
								vwdFmEEDRw==
								</data>
								<key>Size</key>
								<integer>6296</integer>
							</dict>
							<key>files/droplet-filler-banner.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								B4HOOIgsneUp
								OAltaF+2XA==
								</data>
								<key>Size</key>
								<integer>37530</integer>
							</dict>
							<key>files/droplet-filler-inactive.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sItO1XyZug7G
								HhGVw54Ntg==
								</data>
								<key>Size</key>
								<integer>14952</integer>
							</dict>
							<key>files/droplet-filler.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YGs6OhK8ik7A
								AjRVKbfWMw==
								</data>
								<key>Size</key>
								<integer>25883</integer>
							</dict>
							<key>files/filler_logo.png</key>
							<dict>
								<key>Digest</key>
								<data>
								srL4cpedsOLi
								CjzFdYQ1ZA==
								</data>
								<key>Size</key>
								<integer>3706</integer>
							</dict>
							<key>files/foundry-cc-edit-mode-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								sod/04iwl/0l
								gBvCSNiorQ==
								</data>
								<key>Size</key>
								<integer>7556</integer>
							</dict>
							<key>files/image_filler.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LIl7nKmldC10
								3/oCS0cIhg==
								</data>
								<key>Size</key>
								<integer>2885</integer>
							</dict>
							<key>files/overlay_image_filler.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9auUfLu9baEf
								7T/TOQT9KQ==
								</data>
								<key>Size</key>
								<integer>11016</integer>
							</dict>
							<key>files/site_bkg_image-1-749.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								o6dm0gn/YhOV
								RiSJE+0+Iw==
								</data>
								<key>Size</key>
								<integer>96151</integer>
							</dict>
							<key>files/stacks_page_page95.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wQts1wIZmOcC
								c+lt0UT/PA==
								</data>
								<key>Size</key>
								<integer>233725</integer>
							</dict>
							<key>files/stacks_page_page95.js</key>
							<dict>
								<key>Digest</key>
								<data>
								AvIkYDudyTlF
								kMXae/TuHA==
								</data>
								<key>Size</key>
								<integer>85218</integer>
							</dict>
							<key>files/thumbnail-342.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4rvOlntDj6SV
								XElVV8Bf9g==
								</data>
								<key>Size</key>
								<integer>10944</integer>
							</dict>
							<key>files/thumbnail-498.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AiqAhHSIRJez
								/01S60wpkQ==
								</data>
								<key>Size</key>
								<integer>14979</integer>
							</dict>
							<key>files/thumbnail-520.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YVZ4Kq2QWOwC
								FC/KI/IePg==
								</data>
								<key>Size</key>
								<integer>14405</integer>
							</dict>
							<key>files/thumbnail-541.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								FozVsSoPvtDn
								nb1jh+/fkQ==
								</data>
								<key>Size</key>
								<integer>13016</integer>
							</dict>
							<key>files/thumbnail-559.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KEtVMk3aks89
								8Kx2b4bDdg==
								</data>
								<key>Size</key>
								<integer>13118</integer>
							</dict>
							<key>files/thumbnail-577.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3GltvX9fPzi7
								3yHV/IYJZg==
								</data>
								<key>Size</key>
								<integer>15854</integer>
							</dict>
							<key>files/thumbnail-609.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DzYv8AUTcqXJ
								c1r7CDjRJQ==
								</data>
								<key>Size</key>
								<integer>12907</integer>
							</dict>
							<key>files/thumbnail-627.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uyG1R0bv3Xpv
								Yh0LY+OFhw==
								</data>
								<key>Size</key>
								<integer>16509</integer>
							</dict>
							<key>files/thumbnail-645.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kO1BlQ8HWpD2
								3sUotyhBXQ==
								</data>
								<key>Size</key>
								<integer>14430</integer>
							</dict>
							<key>files/thumbnail-677.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dx07MH/1yax7
								TomV34AQ7A==
								</data>
								<key>Size</key>
								<integer>15289</integer>
							</dict>
							<key>files/thumbnail-697.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gFLntc6Icgy2
								qjg4wPanDA==
								</data>
								<key>Size</key>
								<integer>13288</integer>
							</dict>
							<key>files/thumbnail-715.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WZVGvV/L6d/S
								j8shLCLEjQ==
								</data>
								<key>Size</key>
								<integer>16001</integer>
							</dict>
							<key>files/thumbnail-765.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vndsXW1gbJ2Z
								D7/7xsEdvg==
								</data>
								<key>Size</key>
								<integer>15012</integer>
							</dict>
							<key>files/thumbnail-785.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oOQ5F8daca7Q
								6K6LdQKe4g==
								</data>
								<key>Size</key>
								<integer>16411</integer>
							</dict>
							<key>files/thumbnail-814.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NSPCL+C9DSTP
								Bq2PrPpq8A==
								</data>
								<key>Size</key>
								<integer>11117</integer>
							</dict>
							<key>files/top_bottom_filler_image.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								m+6bbauvXr8J
								PaMurpVVQA==
								</data>
								<key>Size</key>
								<integer>16447</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								geU3h7TqzKOq
								YWINA77pvw==
								</data>
								<key>Size</key>
								<integer>51864</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page95</string>
						<key>SiteRoot</key>
						<string>about/leadership-council/2019</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
