<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2018-09-19T16:26:41Z</date>
				<key>ID</key>
				<string>page25</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Student Leadership Council</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://gnsrobotics.com:8082</key>
					<dict>
						<key>CreationDate</key>
						<date>2025-03-27T04:22:52Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/card_overlay_img-3704.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IMc+cYuCNtt0
								nknMNJdlmA==
								</data>
								<key>Size</key>
								<integer>11290</integer>
							</dict>
							<key>files/card_overlay_img-4645.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Mkol/nrEw9Ur
								VjXVMExueg==
								</data>
								<key>Size</key>
								<integer>15326</integer>
							</dict>
							<key>files/card_overlay_img-4653.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ie8+r2PJY40X
								S1IJx5h7BA==
								</data>
								<key>Size</key>
								<integer>18269</integer>
							</dict>
							<key>files/card_overlay_img-4693.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								opN7msCsLDTQ
								jE0bhlbNOg==
								</data>
								<key>Size</key>
								<integer>13833</integer>
							</dict>
							<key>files/card_overlay_img-4735.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eBu8isQkXUJN
								LIgv835WTQ==
								</data>
								<key>Size</key>
								<integer>14089</integer>
							</dict>
							<key>files/card_overlay_img-4765.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								opN7msCsLDTQ
								jE0bhlbNOg==
								</data>
								<key>Size</key>
								<integer>13833</integer>
							</dict>
							<key>files/card_overlay_img-4800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Soy805zp/E6X
								9Ej4tvODrA==
								</data>
								<key>Size</key>
								<integer>14843</integer>
							</dict>
							<key>files/card_overlay_img-4888.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Xkr7VcE8FHXx
								9+WLtLzD/g==
								</data>
								<key>Size</key>
								<integer>13076</integer>
							</dict>
							<key>files/card_overlay_img-5056.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qlRp/bIUjBte
								s2iW9RkJjA==
								</data>
								<key>Size</key>
								<integer>12953</integer>
							</dict>
							<key>files/card_overlay_img-5094.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								z8/acI0I2O2X
								+Gb5cFjBWA==
								</data>
								<key>Size</key>
								<integer>13979</integer>
							</dict>
							<key>files/card_overlay_img-5307.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jOLsE3O/h+IA
								kKHDtXUOVw==
								</data>
								<key>Size</key>
								<integer>17804</integer>
							</dict>
							<key>files/card_overlay_img-5367.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								E3siYkLDPuPz
								Q1ry9AIsrQ==
								</data>
								<key>Size</key>
								<integer>13385</integer>
							</dict>
							<key>files/card_overlay_img-5376.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4bqUr0UdAI6j
								EDzIOfDykA==
								</data>
								<key>Size</key>
								<integer>11020</integer>
							</dict>
							<key>files/card_overlay_img-5385.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jOLsE3O/h+IA
								kKHDtXUOVw==
								</data>
								<key>Size</key>
								<integer>17804</integer>
							</dict>
							<key>files/card_overlay_img-5406.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								E3siYkLDPuPz
								Q1ry9AIsrQ==
								</data>
								<key>Size</key>
								<integer>13385</integer>
							</dict>
							<key>files/card_overlay_img-5428.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								E3siYkLDPuPz
								Q1ry9AIsrQ==
								</data>
								<key>Size</key>
								<integer>13385</integer>
							</dict>
							<key>files/card_overlay_img-5437.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ie8+r2PJY40X
								S1IJx5h7BA==
								</data>
								<key>Size</key>
								<integer>18269</integer>
							</dict>
							<key>files/card_overlay_img-5448.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								E3siYkLDPuPz
								Q1ry9AIsrQ==
								</data>
								<key>Size</key>
								<integer>13385</integer>
							</dict>
							<key>files/card_overlay_img-5463.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4tVjM/6K3XJV
								5iaR1opWSw==
								</data>
								<key>Size</key>
								<integer>12300</integer>
							</dict>
							<key>files/card_overlay_img-5672.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								r9j9zpvzD0YP
								NOWXsp2i1A==
								</data>
								<key>Size</key>
								<integer>14208</integer>
							</dict>
							<key>files/card_overlay_img-5719.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Dczv7DkOF8lA
								rZtcT6mwwA==
								</data>
								<key>Size</key>
								<integer>18121</integer>
							</dict>
							<key>files/card_overlay_img-5744.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/DSG4VM5LNJp
								72oT7EFcwg==
								</data>
								<key>Size</key>
								<integer>20115</integer>
							</dict>
							<key>files/card_overlay_img-5775.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								a25d4kERDf+J
								ZqYAdb3iPg==
								</data>
								<key>Size</key>
								<integer>18844</integer>
							</dict>
							<key>files/card_overlay_img-5802.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Pm3tozIoBP7E
								8oE+kM3e1w==
								</data>
								<key>Size</key>
								<integer>18316</integer>
							</dict>
							<key>files/card_overlay_img-5812.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qlRp/bIUjBte
								s2iW9RkJjA==
								</data>
								<key>Size</key>
								<integer>12953</integer>
							</dict>
							<key>files/card_overlay_img-6027.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2r12PdhdB9eK
								fVHj6bQbhg==
								</data>
								<key>Size</key>
								<integer>12011</integer>
							</dict>
							<key>files/card_overlay_img-6037.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lzJfc5xZhq6r
								QwlpOSpLQw==
								</data>
								<key>Size</key>
								<integer>13456</integer>
							</dict>
							<key>files/card_overlay_img-6047.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								u6Z32mDSMDv1
								Q/fU6A4isQ==
								</data>
								<key>Size</key>
								<integer>12288</integer>
							</dict>
							<key>files/card_overlay_img-6100.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ie8+r2PJY40X
								S1IJx5h7BA==
								</data>
								<key>Size</key>
								<integer>18269</integer>
							</dict>
							<key>files/card_overlay_img-6108.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1O2w5OCQlgxa
								BqnabCxLBA==
								</data>
								<key>Size</key>
								<integer>12750</integer>
							</dict>
							<key>files/card_overlay_img-6136.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ie8+r2PJY40X
								S1IJx5h7BA==
								</data>
								<key>Size</key>
								<integer>18269</integer>
							</dict>
							<key>files/card_overlay_img-6143.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								H+J1p6kiSixa
								sRTN6218Sg==
								</data>
								<key>Size</key>
								<integer>13770</integer>
							</dict>
							<key>files/card_overlay_img-6154.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								H+J1p6kiSixa
								sRTN6218Sg==
								</data>
								<key>Size</key>
								<integer>13770</integer>
							</dict>
							<key>files/card_overlay_img-6199.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Soy805zp/E6X
								9Ej4tvODrA==
								</data>
								<key>Size</key>
								<integer>14843</integer>
							</dict>
							<key>files/card_overlay_img-6213.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								a25d4kERDf+J
								ZqYAdb3iPg==
								</data>
								<key>Size</key>
								<integer>18844</integer>
							</dict>
							<key>files/card_overlay_img-6223.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VEKINTYdwE29
								Vrs6vsaWtA==
								</data>
								<key>Size</key>
								<integer>14410</integer>
							</dict>
							<key>files/card_overlay_img-6240.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2r12PdhdB9eK
								fVHj6bQbhg==
								</data>
								<key>Size</key>
								<integer>12011</integer>
							</dict>
							<key>files/card_overlay_img-6254.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								To5OxE48aOtY
								UewCLo1p8w==
								</data>
								<key>Size</key>
								<integer>14177</integer>
							</dict>
							<key>files/card_overlay_img-6261.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ieRwnxAROrRa
								vy2IyVnlCw==
								</data>
								<key>Size</key>
								<integer>17656</integer>
							</dict>
							<key>files/card_overlay_img-6279.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Soy805zp/E6X
								9Ej4tvODrA==
								</data>
								<key>Size</key>
								<integer>14843</integer>
							</dict>
							<key>files/card_overlay_img-6310.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/DSG4VM5LNJp
								72oT7EFcwg==
								</data>
								<key>Size</key>
								<integer>20115</integer>
							</dict>
							<key>files/card_overlay_img-6367.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ksljWRcFkSL2
								9oknqOx63g==
								</data>
								<key>Size</key>
								<integer>14148</integer>
							</dict>
							<key>files/card_overlay_img-6377.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								H+J1p6kiSixa
								sRTN6218Sg==
								</data>
								<key>Size</key>
								<integer>13770</integer>
							</dict>
							<key>files/card_overlay_img-6418.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2r12PdhdB9eK
								fVHj6bQbhg==
								</data>
								<key>Size</key>
								<integer>12011</integer>
							</dict>
							<key>files/card_overlay_img-6504.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xvVxtNxBdduj
								m/AoU6w7QA==
								</data>
								<key>Size</key>
								<integer>15264</integer>
							</dict>
							<key>files/droplet-filler-banner.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								B4HOOIgsneUp
								OAltaF+2XA==
								</data>
								<key>Size</key>
								<integer>37530</integer>
							</dict>
							<key>files/droplet-filler-inactive.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sItO1XyZug7G
								HhGVw54Ntg==
								</data>
								<key>Size</key>
								<integer>14952</integer>
							</dict>
							<key>files/droplet-filler.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YGs6OhK8ik7A
								AjRVKbfWMw==
								</data>
								<key>Size</key>
								<integer>25883</integer>
							</dict>
							<key>files/filler_logo.png</key>
							<dict>
								<key>Digest</key>
								<data>
								srL4cpedsOLi
								CjzFdYQ1ZA==
								</data>
								<key>Size</key>
								<integer>3706</integer>
							</dict>
							<key>files/foundry-cc-edit-mode-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								sod/04iwl/0l
								gBvCSNiorQ==
								</data>
								<key>Size</key>
								<integer>7556</integer>
							</dict>
							<key>files/image_filler.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LIl7nKmldC10
								3/oCS0cIhg==
								</data>
								<key>Size</key>
								<integer>2885</integer>
							</dict>
							<key>files/overlay_image_filler.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9auUfLu9baEf
								7T/TOQT9KQ==
								</data>
								<key>Size</key>
								<integer>11016</integer>
							</dict>
							<key>files/site_bkg_image-1-749.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								o6dm0gn/YhOV
								RiSJE+0+Iw==
								</data>
								<key>Size</key>
								<integer>96151</integer>
							</dict>
							<key>files/stacks_page_page25.css</key>
							<dict>
								<key>Digest</key>
								<data>
								pcj/TuS/Hc+Y
								YwZINi3sXQ==
								</data>
								<key>Size</key>
								<integer>327090</integer>
							</dict>
							<key>files/stacks_page_page25.js</key>
							<dict>
								<key>Digest</key>
								<data>
								Ci3rdVm8T9k3
								ua1ZaQRivg==
								</data>
								<key>Size</key>
								<integer>94248</integer>
							</dict>
							<key>files/thumbnail-3704.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								W9o715GUst+0
								uwiVt+mGow==
								</data>
								<key>Size</key>
								<integer>11481</integer>
							</dict>
							<key>files/thumbnail-4645.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NwnRpcdx+hxW
								Ypq4De21tg==
								</data>
								<key>Size</key>
								<integer>12667</integer>
							</dict>
							<key>files/thumbnail-4653.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bEtfonRzLT3G
								/c+MV2iNjQ==
								</data>
								<key>Size</key>
								<integer>16613</integer>
							</dict>
							<key>files/thumbnail-4693.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								d4fqjCyVFcfn
								yeNc33RutQ==
								</data>
								<key>Size</key>
								<integer>13318</integer>
							</dict>
							<key>files/thumbnail-4735.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								s+iiPocnER33
								E/+jL7hQJA==
								</data>
								<key>Size</key>
								<integer>11897</integer>
							</dict>
							<key>files/thumbnail-4765.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								d4fqjCyVFcfn
								yeNc33RutQ==
								</data>
								<key>Size</key>
								<integer>13318</integer>
							</dict>
							<key>files/thumbnail-4800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4Ee1WUoi/8WA
								zGrrt+0XbQ==
								</data>
								<key>Size</key>
								<integer>14011</integer>
							</dict>
							<key>files/thumbnail-4888.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xZWi14s8aNYe
								zUCkcAMBqw==
								</data>
								<key>Size</key>
								<integer>12549</integer>
							</dict>
							<key>files/thumbnail-5056.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								z65+qt1QvBsd
								kAoKCcDQbA==
								</data>
								<key>Size</key>
								<integer>12559</integer>
							</dict>
							<key>files/thumbnail-5094.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wEPdA5piZ0JR
								jlrWFlUYpA==
								</data>
								<key>Size</key>
								<integer>12936</integer>
							</dict>
							<key>files/thumbnail-5307.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rrBpbBceyi8H
								HX0v/Pa5Kg==
								</data>
								<key>Size</key>
								<integer>15670</integer>
							</dict>
							<key>files/thumbnail-5367.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								egjfSfqZvo7j
								MSBpzUaX7A==
								</data>
								<key>Size</key>
								<integer>11694</integer>
							</dict>
							<key>files/thumbnail-5376.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0/ZWnqO2ocib
								p/bsizQLeA==
								</data>
								<key>Size</key>
								<integer>11808</integer>
							</dict>
							<key>files/thumbnail-5385.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rrBpbBceyi8H
								HX0v/Pa5Kg==
								</data>
								<key>Size</key>
								<integer>15670</integer>
							</dict>
							<key>files/thumbnail-5406.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								egjfSfqZvo7j
								MSBpzUaX7A==
								</data>
								<key>Size</key>
								<integer>11694</integer>
							</dict>
							<key>files/thumbnail-5428.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								egjfSfqZvo7j
								MSBpzUaX7A==
								</data>
								<key>Size</key>
								<integer>11694</integer>
							</dict>
							<key>files/thumbnail-5437.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bEtfonRzLT3G
								/c+MV2iNjQ==
								</data>
								<key>Size</key>
								<integer>16613</integer>
							</dict>
							<key>files/thumbnail-5448.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								egjfSfqZvo7j
								MSBpzUaX7A==
								</data>
								<key>Size</key>
								<integer>11694</integer>
							</dict>
							<key>files/thumbnail-5463.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JCSxCHJWWYl0
								gK3FHUlYcg==
								</data>
								<key>Size</key>
								<integer>12079</integer>
							</dict>
							<key>files/thumbnail-5672.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								y3imhAWrrV99
								XUebxqZBoQ==
								</data>
								<key>Size</key>
								<integer>13590</integer>
							</dict>
							<key>files/thumbnail-5719.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Xhjmouhc0bxE
								0bf5VSsrgg==
								</data>
								<key>Size</key>
								<integer>12813</integer>
							</dict>
							<key>files/thumbnail-5744.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kobhmnGmHX/J
								JMZfUSDcZQ==
								</data>
								<key>Size</key>
								<integer>13991</integer>
							</dict>
							<key>files/thumbnail-5775.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JGbVMcOchcUf
								Ag3HguyV4g==
								</data>
								<key>Size</key>
								<integer>15607</integer>
							</dict>
							<key>files/thumbnail-5802.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rA4RImUzgs+M
								3gCeImqtMg==
								</data>
								<key>Size</key>
								<integer>12846</integer>
							</dict>
							<key>files/thumbnail-5812.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								z65+qt1QvBsd
								kAoKCcDQbA==
								</data>
								<key>Size</key>
								<integer>12559</integer>
							</dict>
							<key>files/thumbnail-6027.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								t1CF6RSHVUly
								5OTLWy20CA==
								</data>
								<key>Size</key>
								<integer>11916</integer>
							</dict>
							<key>files/thumbnail-6037.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xq5OdsjrFBPt
								KM6xJ8QcoA==
								</data>
								<key>Size</key>
								<integer>13044</integer>
							</dict>
							<key>files/thumbnail-6047.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								m9jxPTdtyACU
								ZuJZcGohgA==
								</data>
								<key>Size</key>
								<integer>12087</integer>
							</dict>
							<key>files/thumbnail-6100.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bEtfonRzLT3G
								/c+MV2iNjQ==
								</data>
								<key>Size</key>
								<integer>16613</integer>
							</dict>
							<key>files/thumbnail-6108.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bTXsP97pEqrC
								SZFgJama0w==
								</data>
								<key>Size</key>
								<integer>12416</integer>
							</dict>
							<key>files/thumbnail-6136.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bEtfonRzLT3G
								/c+MV2iNjQ==
								</data>
								<key>Size</key>
								<integer>16613</integer>
							</dict>
							<key>files/thumbnail-6143.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AI9E8oqBmMwV
								yIdDP+Ul6Q==
								</data>
								<key>Size</key>
								<integer>13328</integer>
							</dict>
							<key>files/thumbnail-6154.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AI9E8oqBmMwV
								yIdDP+Ul6Q==
								</data>
								<key>Size</key>
								<integer>13328</integer>
							</dict>
							<key>files/thumbnail-6199.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4Ee1WUoi/8WA
								zGrrt+0XbQ==
								</data>
								<key>Size</key>
								<integer>14011</integer>
							</dict>
							<key>files/thumbnail-6213.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JGbVMcOchcUf
								Ag3HguyV4g==
								</data>
								<key>Size</key>
								<integer>15607</integer>
							</dict>
							<key>files/thumbnail-6223.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UEnwMgCIxlTA
								beiU0RqijA==
								</data>
								<key>Size</key>
								<integer>13236</integer>
							</dict>
							<key>files/thumbnail-6240.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								t1CF6RSHVUly
								5OTLWy20CA==
								</data>
								<key>Size</key>
								<integer>11916</integer>
							</dict>
							<key>files/thumbnail-6254.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ft3Vf8hC3GCp
								5Ojwz3al5g==
								</data>
								<key>Size</key>
								<integer>13733</integer>
							</dict>
							<key>files/thumbnail-6261.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YNYkRwLVDOFQ
								AAwWILEj5w==
								</data>
								<key>Size</key>
								<integer>15581</integer>
							</dict>
							<key>files/thumbnail-6279.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4Ee1WUoi/8WA
								zGrrt+0XbQ==
								</data>
								<key>Size</key>
								<integer>14011</integer>
							</dict>
							<key>files/thumbnail-6310.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kobhmnGmHX/J
								JMZfUSDcZQ==
								</data>
								<key>Size</key>
								<integer>13991</integer>
							</dict>
							<key>files/thumbnail-6367.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								blC1Tfc7SjHY
								xRxbDsKZ/Q==
								</data>
								<key>Size</key>
								<integer>12751</integer>
							</dict>
							<key>files/thumbnail-6377.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AI9E8oqBmMwV
								yIdDP+Ul6Q==
								</data>
								<key>Size</key>
								<integer>13328</integer>
							</dict>
							<key>files/thumbnail-6418.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								t1CF6RSHVUly
								5OTLWy20CA==
								</data>
								<key>Size</key>
								<integer>11916</integer>
							</dict>
							<key>files/thumbnail-6504.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								114FbX9jP1fp
								dutPUncj1A==
								</data>
								<key>Size</key>
								<integer>14209</integer>
							</dict>
							<key>files/top_bottom_filler_image.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								m+6bbauvXr8J
								PaMurpVVQA==
								</data>
								<key>Size</key>
								<integer>16447</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								WLYtXuABsLsg
								QMKtR6IsjQ==
								</data>
								<key>Size</key>
								<integer>76192</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page25</string>
						<key>SiteRoot</key>
						<string>about/leadership-council</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
