<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2018-09-19T16:26:41Z</date>
				<key>ID</key>
				<string>page25</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Student Leadership Council</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://gnsrobotics.com:8082</key>
					<dict>
						<key>CreationDate</key>
						<date>2026-03-19T02:39:03Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/card_overlay_img-3704.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								S2BQH/UZATKO
								mmXOgL2RoQ==
								</data>
								<key>Size</key>
								<integer>26512</integer>
							</dict>
							<key>files/card_overlay_img-4645.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kobhmnGmHX/J
								JMZfUSDcZQ==
								</data>
								<key>Size</key>
								<integer>13991</integer>
							</dict>
							<key>files/card_overlay_img-4693.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								opN7msCsLDTQ
								jE0bhlbNOg==
								</data>
								<key>Size</key>
								<integer>13833</integer>
							</dict>
							<key>files/card_overlay_img-4735.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LgyvvzHZZnUA
								B8gQIGauvQ==
								</data>
								<key>Size</key>
								<integer>54686</integer>
							</dict>
							<key>files/card_overlay_img-4765.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								opN7msCsLDTQ
								jE0bhlbNOg==
								</data>
								<key>Size</key>
								<integer>13833</integer>
							</dict>
							<key>files/card_overlay_img-4800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Soy805zp/E6X
								9Ej4tvODrA==
								</data>
								<key>Size</key>
								<integer>14843</integer>
							</dict>
							<key>files/card_overlay_img-5094.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								S2BQH/UZATKO
								mmXOgL2RoQ==
								</data>
								<key>Size</key>
								<integer>26512</integer>
							</dict>
							<key>files/card_overlay_img-5307.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xq5OdsjrFBPt
								KM6xJ8QcoA==
								</data>
								<key>Size</key>
								<integer>13044</integer>
							</dict>
							<key>files/card_overlay_img-5367.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+aSAjVLg9/W7
								vS5zMmr5ig==
								</data>
								<key>Size</key>
								<integer>53855</integer>
							</dict>
							<key>files/card_overlay_img-5406.png</key>
							<dict>
								<key>Digest</key>
								<data>
								z2CvSGX8AIAx
								XL+tzNzdwQ==
								</data>
								<key>Size</key>
								<integer>49849</integer>
							</dict>
							<key>files/card_overlay_img-5428.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kobhmnGmHX/J
								JMZfUSDcZQ==
								</data>
								<key>Size</key>
								<integer>13991</integer>
							</dict>
							<key>files/card_overlay_img-5437.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ie8+r2PJY40X
								S1IJx5h7BA==
								</data>
								<key>Size</key>
								<integer>18269</integer>
							</dict>
							<key>files/card_overlay_img-5448.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								114FbX9jP1fp
								dutPUncj1A==
								</data>
								<key>Size</key>
								<integer>14209</integer>
							</dict>
							<key>files/card_overlay_img-5672.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								r9j9zpvzD0YP
								NOWXsp2i1A==
								</data>
								<key>Size</key>
								<integer>14208</integer>
							</dict>
							<key>files/card_overlay_img-6143.png</key>
							<dict>
								<key>Digest</key>
								<data>
								cDLIjkQ+GmAF
								O+w8KKlpkw==
								</data>
								<key>Size</key>
								<integer>57197</integer>
							</dict>
							<key>files/card_overlay_img-6254.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								To5OxE48aOtY
								UewCLo1p8w==
								</data>
								<key>Size</key>
								<integer>14177</integer>
							</dict>
							<key>files/card_overlay_img-6261.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ieRwnxAROrRa
								vy2IyVnlCw==
								</data>
								<key>Size</key>
								<integer>17656</integer>
							</dict>
							<key>files/card_overlay_img-6279.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Soy805zp/E6X
								9Ej4tvODrA==
								</data>
								<key>Size</key>
								<integer>14843</integer>
							</dict>
							<key>files/card_overlay_img-6602.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ft3Vf8hC3GCp
								5Ojwz3al5g==
								</data>
								<key>Size</key>
								<integer>13733</integer>
							</dict>
							<key>files/card_overlay_img-6612.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								d4fqjCyVFcfn
								yeNc33RutQ==
								</data>
								<key>Size</key>
								<integer>13318</integer>
							</dict>
							<key>files/card_overlay_img-6634.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4Ee1WUoi/8WA
								zGrrt+0XbQ==
								</data>
								<key>Size</key>
								<integer>14011</integer>
							</dict>
							<key>files/card_overlay_img-6669.png</key>
							<dict>
								<key>Digest</key>
								<data>
								z2CvSGX8AIAx
								XL+tzNzdwQ==
								</data>
								<key>Size</key>
								<integer>49849</integer>
							</dict>
							<key>files/card_overlay_img-6689.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UEnwMgCIxlTA
								beiU0RqijA==
								</data>
								<key>Size</key>
								<integer>13236</integer>
							</dict>
							<key>files/card_overlay_img-6704.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UEnwMgCIxlTA
								beiU0RqijA==
								</data>
								<key>Size</key>
								<integer>13236</integer>
							</dict>
							<key>files/card_overlay_img-6711.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								H+J1p6kiSixa
								sRTN6218Sg==
								</data>
								<key>Size</key>
								<integer>13770</integer>
							</dict>
							<key>files/card_overlay_img-6720.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bEtfonRzLT3G
								/c+MV2iNjQ==
								</data>
								<key>Size</key>
								<integer>16613</integer>
							</dict>
							<key>files/card_overlay_img-6731.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qGdIJ6m7Nf4K
								/n9JlgyaSQ==
								</data>
								<key>Size</key>
								<integer>51810</integer>
							</dict>
							<key>files/card_overlay_img-6746.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UfN1lMPXgUMc
								asa6KS92bA==
								</data>
								<key>Size</key>
								<integer>53141</integer>
							</dict>
							<key>files/card_overlay_img-6764.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bEtfonRzLT3G
								/c+MV2iNjQ==
								</data>
								<key>Size</key>
								<integer>16613</integer>
							</dict>
							<key>files/card_overlay_img-6774.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JGbVMcOchcUf
								Ag3HguyV4g==
								</data>
								<key>Size</key>
								<integer>15607</integer>
							</dict>
							<key>files/card_overlay_img-6830.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								y3imhAWrrV99
								XUebxqZBoQ==
								</data>
								<key>Size</key>
								<integer>13590</integer>
							</dict>
							<key>files/card_overlay_img-6859.png</key>
							<dict>
								<key>Digest</key>
								<data>
								bHCu7A5zHUs2
								aTNk5tk+iw==
								</data>
								<key>Size</key>
								<integer>58627</integer>
							</dict>
							<key>files/card_overlay_img-6869.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qGdIJ6m7Nf4K
								/n9JlgyaSQ==
								</data>
								<key>Size</key>
								<integer>51810</integer>
							</dict>
							<key>files/card_overlay_img-6876.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rvZedHUE0WC6
								Yg4uvsLzdA==
								</data>
								<key>Size</key>
								<integer>46975</integer>
							</dict>
							<key>files/card_overlay_img-6918.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xq5OdsjrFBPt
								KM6xJ8QcoA==
								</data>
								<key>Size</key>
								<integer>13044</integer>
							</dict>
							<key>files/card_overlay_img-6928.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xq5OdsjrFBPt
								KM6xJ8QcoA==
								</data>
								<key>Size</key>
								<integer>13044</integer>
							</dict>
							<key>files/card_overlay_img-6936.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kobhmnGmHX/J
								JMZfUSDcZQ==
								</data>
								<key>Size</key>
								<integer>13991</integer>
							</dict>
							<key>files/card_overlay_img-6944.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								S2BQH/UZATKO
								mmXOgL2RoQ==
								</data>
								<key>Size</key>
								<integer>26512</integer>
							</dict>
							<key>files/droplet-filler-banner.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								B4HOOIgsneUp
								OAltaF+2XA==
								</data>
								<key>Size</key>
								<integer>37530</integer>
							</dict>
							<key>files/droplet-filler-inactive.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sItO1XyZug7G
								HhGVw54Ntg==
								</data>
								<key>Size</key>
								<integer>14952</integer>
							</dict>
							<key>files/droplet-filler.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YGs6OhK8ik7A
								AjRVKbfWMw==
								</data>
								<key>Size</key>
								<integer>25883</integer>
							</dict>
							<key>files/filler_logo.png</key>
							<dict>
								<key>Digest</key>
								<data>
								srL4cpedsOLi
								CjzFdYQ1ZA==
								</data>
								<key>Size</key>
								<integer>3706</integer>
							</dict>
							<key>files/foundry-cc-edit-mode-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								sod/04iwl/0l
								gBvCSNiorQ==
								</data>
								<key>Size</key>
								<integer>7556</integer>
							</dict>
							<key>files/image_filler.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LIl7nKmldC10
								3/oCS0cIhg==
								</data>
								<key>Size</key>
								<integer>2885</integer>
							</dict>
							<key>files/overlay_image_filler.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9auUfLu9baEf
								7T/TOQT9KQ==
								</data>
								<key>Size</key>
								<integer>11016</integer>
							</dict>
							<key>files/site_bkg_image-1-749.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								o6dm0gn/YhOV
								RiSJE+0+Iw==
								</data>
								<key>Size</key>
								<integer>96151</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wANifJ2yGeIS
								vLjVRAp1mw==
								</data>
								<key>Size</key>
								<integer>1296</integer>
							</dict>
							<key>files/stacks_page_page25.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wZIonIwkoAp+
								dJYGHxiHtQ==
								</data>
								<key>Size</key>
								<integer>285581</integer>
							</dict>
							<key>files/stacks_page_page25.js</key>
							<dict>
								<key>Digest</key>
								<data>
								3xbqylXEAMF8
								60ndf+el+A==
								</data>
								<key>Size</key>
								<integer>90738</integer>
							</dict>
							<key>files/thumbnail-3704.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nXoM9gQnTiUo
								pQMo30jP2Q==
								</data>
								<key>Size</key>
								<integer>11828</integer>
							</dict>
							<key>files/thumbnail-4645.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TuLNQmyXwhj2
								WLvY96misw==
								</data>
								<key>Size</key>
								<integer>13965</integer>
							</dict>
							<key>files/thumbnail-4693.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								d4fqjCyVFcfn
								yeNc33RutQ==
								</data>
								<key>Size</key>
								<integer>13318</integer>
							</dict>
							<key>files/thumbnail-4735.png</key>
							<dict>
								<key>Digest</key>
								<data>
								tIUIbgmWt3Ww
								YmOEpdn7cQ==
								</data>
								<key>Size</key>
								<integer>78830</integer>
							</dict>
							<key>files/thumbnail-4765.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								d4fqjCyVFcfn
								yeNc33RutQ==
								</data>
								<key>Size</key>
								<integer>13318</integer>
							</dict>
							<key>files/thumbnail-4800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4Ee1WUoi/8WA
								zGrrt+0XbQ==
								</data>
								<key>Size</key>
								<integer>14011</integer>
							</dict>
							<key>files/thumbnail-5094.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nXoM9gQnTiUo
								pQMo30jP2Q==
								</data>
								<key>Size</key>
								<integer>11828</integer>
							</dict>
							<key>files/thumbnail-5307.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gRQFs8LkhzJs
								xogCLMSXvA==
								</data>
								<key>Size</key>
								<integer>13039</integer>
							</dict>
							<key>files/thumbnail-5367.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OqYkxsB/jT5C
								DxTrwmN8yA==
								</data>
								<key>Size</key>
								<integer>74856</integer>
							</dict>
							<key>files/thumbnail-5406.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QltER+mjq2Cu
								6Iq2mVWg4g==
								</data>
								<key>Size</key>
								<integer>75146</integer>
							</dict>
							<key>files/thumbnail-5428.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TuLNQmyXwhj2
								WLvY96misw==
								</data>
								<key>Size</key>
								<integer>13965</integer>
							</dict>
							<key>files/thumbnail-5437.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bEtfonRzLT3G
								/c+MV2iNjQ==
								</data>
								<key>Size</key>
								<integer>16613</integer>
							</dict>
							<key>files/thumbnail-5448.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0ajlgIPujWwq
								4+0c1xmPwg==
								</data>
								<key>Size</key>
								<integer>14203</integer>
							</dict>
							<key>files/thumbnail-5672.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								y3imhAWrrV99
								XUebxqZBoQ==
								</data>
								<key>Size</key>
								<integer>13590</integer>
							</dict>
							<key>files/thumbnail-6143.png</key>
							<dict>
								<key>Digest</key>
								<data>
								KGerIEQ1CtuJ
								OK6iKT8MPA==
								</data>
								<key>Size</key>
								<integer>77275</integer>
							</dict>
							<key>files/thumbnail-6254.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ft3Vf8hC3GCp
								5Ojwz3al5g==
								</data>
								<key>Size</key>
								<integer>13733</integer>
							</dict>
							<key>files/thumbnail-6261.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YNYkRwLVDOFQ
								AAwWILEj5w==
								</data>
								<key>Size</key>
								<integer>15581</integer>
							</dict>
							<key>files/thumbnail-6279.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4Ee1WUoi/8WA
								zGrrt+0XbQ==
								</data>
								<key>Size</key>
								<integer>14011</integer>
							</dict>
							<key>files/thumbnail-6602.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YbFykWZvCdj+
								NpyP2dDWtw==
								</data>
								<key>Size</key>
								<integer>13729</integer>
							</dict>
							<key>files/thumbnail-6612.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/2lirvKgCSk4
								AEUMiyFyyQ==
								</data>
								<key>Size</key>
								<integer>13306</integer>
							</dict>
							<key>files/thumbnail-6634.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Mj4DUxKqsksH
								/tbWAc38jw==
								</data>
								<key>Size</key>
								<integer>14003</integer>
							</dict>
							<key>files/thumbnail-6669.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QltER+mjq2Cu
								6Iq2mVWg4g==
								</data>
								<key>Size</key>
								<integer>75146</integer>
							</dict>
							<key>files/thumbnail-6689.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								r2vFEW19mXVz
								YutT9wzLZA==
								</data>
								<key>Size</key>
								<integer>13214</integer>
							</dict>
							<key>files/thumbnail-6704.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								r2vFEW19mXVz
								YutT9wzLZA==
								</data>
								<key>Size</key>
								<integer>13214</integer>
							</dict>
							<key>files/thumbnail-6711.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AI9E8oqBmMwV
								yIdDP+Ul6Q==
								</data>
								<key>Size</key>
								<integer>13328</integer>
							</dict>
							<key>files/thumbnail-6720.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6ONXhPsq9qfL
								1wGiqGAR+w==
								</data>
								<key>Size</key>
								<integer>16596</integer>
							</dict>
							<key>files/thumbnail-6731.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SYhN8N/dHcZv
								Cf/bSUXDpg==
								</data>
								<key>Size</key>
								<integer>76890</integer>
							</dict>
							<key>files/thumbnail-6746.png</key>
							<dict>
								<key>Digest</key>
								<data>
								efP1z8cQTYG/
								nsH5RKhH8A==
								</data>
								<key>Size</key>
								<integer>79918</integer>
							</dict>
							<key>files/thumbnail-6764.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6ONXhPsq9qfL
								1wGiqGAR+w==
								</data>
								<key>Size</key>
								<integer>16596</integer>
							</dict>
							<key>files/thumbnail-6774.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								W9w4vr3JhUNR
								sKw/iagUqA==
								</data>
								<key>Size</key>
								<integer>15579</integer>
							</dict>
							<key>files/thumbnail-6830.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2ohnC8dQZz/t
								u+GfmWreqQ==
								</data>
								<key>Size</key>
								<integer>13572</integer>
							</dict>
							<key>files/thumbnail-6859.png</key>
							<dict>
								<key>Digest</key>
								<data>
								z180PJSHPxAU
								piPaUFjE2g==
								</data>
								<key>Size</key>
								<integer>78675</integer>
							</dict>
							<key>files/thumbnail-6869.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SYhN8N/dHcZv
								Cf/bSUXDpg==
								</data>
								<key>Size</key>
								<integer>76890</integer>
							</dict>
							<key>files/thumbnail-6876.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xXA4xFJV727T
								kU19b3ZaEw==
								</data>
								<key>Size</key>
								<integer>71015</integer>
							</dict>
							<key>files/thumbnail-6918.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gRQFs8LkhzJs
								xogCLMSXvA==
								</data>
								<key>Size</key>
								<integer>13039</integer>
							</dict>
							<key>files/thumbnail-6928.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gRQFs8LkhzJs
								xogCLMSXvA==
								</data>
								<key>Size</key>
								<integer>13039</integer>
							</dict>
							<key>files/thumbnail-6936.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TuLNQmyXwhj2
								WLvY96misw==
								</data>
								<key>Size</key>
								<integer>13965</integer>
							</dict>
							<key>files/thumbnail-6944.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nXoM9gQnTiUo
								pQMo30jP2Q==
								</data>
								<key>Size</key>
								<integer>11828</integer>
							</dict>
							<key>files/top_bottom_filler_image.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								m+6bbauvXr8J
								PaMurpVVQA==
								</data>
								<key>Size</key>
								<integer>16447</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								6XxTRr3cKVYc
								mNgUqksv4w==
								</data>
								<key>Size</key>
								<integer>64348</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page25</string>
						<key>SiteRoot</key>
						<string>about/leadership-council</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
