<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2018-09-19T16:26:41Z</date>
				<key>ID</key>
				<string>page121</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>2022-2023</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://gnsrobotics.com:8082</key>
					<dict>
						<key>CreationDate</key>
						<date>2025-03-27T04:22:52Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/card_overlay_img-1783.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ATYgibsE1IID
								f1d6MQgjag==
								</data>
								<key>Size</key>
								<integer>319677</integer>
							</dict>
							<key>files/card_overlay_img-2296.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/DXvgzbclc0O
								C6qs8AZMmA==
								</data>
								<key>Size</key>
								<integer>103071</integer>
							</dict>
							<key>files/card_overlay_img-2297.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HZaNImN0Dx2M
								TwzS1mI0tQ==
								</data>
								<key>Size</key>
								<integer>98172</integer>
							</dict>
							<key>files/card_overlay_img-2360.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KCRNBkwDC0xI
								K0/vEBFbDw==
								</data>
								<key>Size</key>
								<integer>329149</integer>
							</dict>
							<key>files/card_overlay_img-2605.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bBvhgYEne4Zt
								lj5PYSifPA==
								</data>
								<key>Size</key>
								<integer>109205</integer>
							</dict>
							<key>files/card_overlay_img-2719.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SHhVXM02SpaP
								EKni+5w3IQ==
								</data>
								<key>Size</key>
								<integer>337374</integer>
							</dict>
							<key>files/card_overlay_img-2755.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HZaNImN0Dx2M
								TwzS1mI0tQ==
								</data>
								<key>Size</key>
								<integer>98172</integer>
							</dict>
							<key>files/card_overlay_img-2892.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MDIgbywOhbHr
								QX3PFi7zFw==
								</data>
								<key>Size</key>
								<integer>275314</integer>
							</dict>
							<key>files/card_overlay_img-3678.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								c5pCq+MIXsD9
								pNdh5Z+qxA==
								</data>
								<key>Size</key>
								<integer>330706</integer>
							</dict>
							<key>files/card_overlay_img-3704.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								U8tArfpN22G0
								0iJZtVIMUw==
								</data>
								<key>Size</key>
								<integer>315953</integer>
							</dict>
							<key>files/card_overlay_img-3719.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bBvhgYEne4Zt
								lj5PYSifPA==
								</data>
								<key>Size</key>
								<integer>109205</integer>
							</dict>
							<key>files/card_overlay_img-3726.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/DXvgzbclc0O
								C6qs8AZMmA==
								</data>
								<key>Size</key>
								<integer>103071</integer>
							</dict>
							<key>files/card_overlay_img-3733.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MDIgbywOhbHr
								QX3PFi7zFw==
								</data>
								<key>Size</key>
								<integer>275314</integer>
							</dict>
							<key>files/card_overlay_img-3813.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								K41ZCDAJQuvK
								Cd58qugRVA==
								</data>
								<key>Size</key>
								<integer>307240</integer>
							</dict>
							<key>files/card_overlay_img-3860.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8LiwUtBw2oVJ
								K6ryQE212g==
								</data>
								<key>Size</key>
								<integer>98137</integer>
							</dict>
							<key>files/card_overlay_img-3885.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yaX2xEZSac4r
								TX/XXVkBVw==
								</data>
								<key>Size</key>
								<integer>46536</integer>
							</dict>
							<key>files/card_overlay_img-3966.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KCRNBkwDC0xI
								K0/vEBFbDw==
								</data>
								<key>Size</key>
								<integer>329149</integer>
							</dict>
							<key>files/card_overlay_img-3989.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KCRNBkwDC0xI
								K0/vEBFbDw==
								</data>
								<key>Size</key>
								<integer>329149</integer>
							</dict>
							<key>files/card_overlay_img-4000.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RmShiHOUDd1W
								ClPrA/k3bw==
								</data>
								<key>Size</key>
								<integer>120917</integer>
							</dict>
							<key>files/card_overlay_img-4060.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wcyO8q8oaa8D
								H1omfN/Iog==
								</data>
								<key>Size</key>
								<integer>339956</integer>
							</dict>
							<key>files/card_overlay_img-4075.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KCRNBkwDC0xI
								K0/vEBFbDw==
								</data>
								<key>Size</key>
								<integer>329149</integer>
							</dict>
							<key>files/card_overlay_img-4224.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LDFoKLAMdlk1
								ZXaaMJIcCg==
								</data>
								<key>Size</key>
								<integer>211776</integer>
							</dict>
							<key>files/card_overlay_img-4273.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tAt4BNsZRN6R
								jHzh+6vbJw==
								</data>
								<key>Size</key>
								<integer>98877</integer>
							</dict>
							<key>files/card_overlay_img-4352.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ebpdQui0Plms
								gE8LwezUzA==
								</data>
								<key>Size</key>
								<integer>299947</integer>
							</dict>
							<key>files/card_overlay_img-4359.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LDFoKLAMdlk1
								ZXaaMJIcCg==
								</data>
								<key>Size</key>
								<integer>211776</integer>
							</dict>
							<key>files/card_overlay_img-4387.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ebpdQui0Plms
								gE8LwezUzA==
								</data>
								<key>Size</key>
								<integer>299947</integer>
							</dict>
							<key>files/card_overlay_img-4394.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bBvhgYEne4Zt
								lj5PYSifPA==
								</data>
								<key>Size</key>
								<integer>109205</integer>
							</dict>
							<key>files/card_overlay_img-4550.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xG6ax1Hxt/JA
								ENbX4QXgkw==
								</data>
								<key>Size</key>
								<integer>134671</integer>
							</dict>
							<key>files/card_overlay_img-4564.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8LiwUtBw2oVJ
								K6ryQE212g==
								</data>
								<key>Size</key>
								<integer>98137</integer>
							</dict>
							<key>files/card_overlay_img-4571.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								K41ZCDAJQuvK
								Cd58qugRVA==
								</data>
								<key>Size</key>
								<integer>307240</integer>
							</dict>
							<key>files/card_overlay_img-4578.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aPeKtmteb1tZ
								f3Art9crSQ==
								</data>
								<key>Size</key>
								<integer>114424</integer>
							</dict>
							<key>files/card_overlay_img-4625.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bpERCw7CF19F
								I0M64LSAAA==
								</data>
								<key>Size</key>
								<integer>103717</integer>
							</dict>
							<key>files/card_overlay_img-4644.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/n10OLOndcV+
								PWXhAlY+ZA==
								</data>
								<key>Size</key>
								<integer>97549</integer>
							</dict>
							<key>files/card_overlay_img-4674.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/DXvgzbclc0O
								C6qs8AZMmA==
								</data>
								<key>Size</key>
								<integer>103071</integer>
							</dict>
							<key>files/card_overlay_img-4865.png</key>
							<dict>
								<key>Digest</key>
								<data>
								QZVKfwyHSTaS
								UaEQ7eZ/SA==
								</data>
								<key>Size</key>
								<integer>57186</integer>
							</dict>
							<key>files/droplet-filler-banner.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								B4HOOIgsneUp
								OAltaF+2XA==
								</data>
								<key>Size</key>
								<integer>37530</integer>
							</dict>
							<key>files/droplet-filler-inactive.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sItO1XyZug7G
								HhGVw54Ntg==
								</data>
								<key>Size</key>
								<integer>14952</integer>
							</dict>
							<key>files/droplet-filler.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YGs6OhK8ik7A
								AjRVKbfWMw==
								</data>
								<key>Size</key>
								<integer>25883</integer>
							</dict>
							<key>files/filler_logo.png</key>
							<dict>
								<key>Digest</key>
								<data>
								srL4cpedsOLi
								CjzFdYQ1ZA==
								</data>
								<key>Size</key>
								<integer>3706</integer>
							</dict>
							<key>files/foundry-cc-edit-mode-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								sod/04iwl/0l
								gBvCSNiorQ==
								</data>
								<key>Size</key>
								<integer>7556</integer>
							</dict>
							<key>files/image_filler.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LIl7nKmldC10
								3/oCS0cIhg==
								</data>
								<key>Size</key>
								<integer>2885</integer>
							</dict>
							<key>files/overlay_image_filler.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9auUfLu9baEf
								7T/TOQT9KQ==
								</data>
								<key>Size</key>
								<integer>11016</integer>
							</dict>
							<key>files/site_bkg_image-1-749.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								o6dm0gn/YhOV
								RiSJE+0+Iw==
								</data>
								<key>Size</key>
								<integer>96151</integer>
							</dict>
							<key>files/stacks_page_page121.css</key>
							<dict>
								<key>Digest</key>
								<data>
								n8nMo4qAeNCS
								baF6IPKadA==
								</data>
								<key>Size</key>
								<integer>404524</integer>
							</dict>
							<key>files/stacks_page_page121.js</key>
							<dict>
								<key>Digest</key>
								<data>
								J9hYqD+kZUJU
								dWNq78GuFg==
								</data>
								<key>Size</key>
								<integer>94291</integer>
							</dict>
							<key>files/thumbnail-1783.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UnkJujG25h8X
								t7X31AaHjQ==
								</data>
								<key>Size</key>
								<integer>12610</integer>
							</dict>
							<key>files/thumbnail-2296.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sqZv9aX1VQ94
								8mqPtqOnwQ==
								</data>
								<key>Size</key>
								<integer>13442</integer>
							</dict>
							<key>files/thumbnail-2297.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XdN45Q5+vG1h
								6JuwLDZKMA==
								</data>
								<key>Size</key>
								<integer>13403</integer>
							</dict>
							<key>files/thumbnail-2360.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YWtfAIid0P8M
								JIYZcOOx7g==
								</data>
								<key>Size</key>
								<integer>12391</integer>
							</dict>
							<key>files/thumbnail-2605.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aEO//wh7MAD/
								o5gWhHKtLQ==
								</data>
								<key>Size</key>
								<integer>14402</integer>
							</dict>
							<key>files/thumbnail-2719.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nTKR8NyqUGVX
								2wuHH8Z3+w==
								</data>
								<key>Size</key>
								<integer>12449</integer>
							</dict>
							<key>files/thumbnail-2755.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XdN45Q5+vG1h
								6JuwLDZKMA==
								</data>
								<key>Size</key>
								<integer>13403</integer>
							</dict>
							<key>files/thumbnail-2892.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xItydyCKHnFq
								bmTcHo9ryw==
								</data>
								<key>Size</key>
								<integer>11140</integer>
							</dict>
							<key>files/thumbnail-3678.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Q0+4N9+F/cI8
								CjYD2A2d/w==
								</data>
								<key>Size</key>
								<integer>13044</integer>
							</dict>
							<key>files/thumbnail-3704.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/RaSNtMCoqXx
								5imuVfLxrw==
								</data>
								<key>Size</key>
								<integer>12509</integer>
							</dict>
							<key>files/thumbnail-3719.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aEO//wh7MAD/
								o5gWhHKtLQ==
								</data>
								<key>Size</key>
								<integer>14402</integer>
							</dict>
							<key>files/thumbnail-3726.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sqZv9aX1VQ94
								8mqPtqOnwQ==
								</data>
								<key>Size</key>
								<integer>13442</integer>
							</dict>
							<key>files/thumbnail-3733.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								xItydyCKHnFq
								bmTcHo9ryw==
								</data>
								<key>Size</key>
								<integer>11140</integer>
							</dict>
							<key>files/thumbnail-3813.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JzCNlgiA2g1X
								5Ghy5GZk9Q==
								</data>
								<key>Size</key>
								<integer>12090</integer>
							</dict>
							<key>files/thumbnail-3860.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LuV2NiFUU3So
								ewCOHIajgg==
								</data>
								<key>Size</key>
								<integer>12921</integer>
							</dict>
							<key>files/thumbnail-3885.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2NY9WZDQprju
								Km5SAQqAjA==
								</data>
								<key>Size</key>
								<integer>70051</integer>
							</dict>
							<key>files/thumbnail-3966.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YWtfAIid0P8M
								JIYZcOOx7g==
								</data>
								<key>Size</key>
								<integer>12391</integer>
							</dict>
							<key>files/thumbnail-3989.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YWtfAIid0P8M
								JIYZcOOx7g==
								</data>
								<key>Size</key>
								<integer>12391</integer>
							</dict>
							<key>files/thumbnail-4000.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Mr3IN5Dr4Sws
								EfOGCXFh5g==
								</data>
								<key>Size</key>
								<integer>13810</integer>
							</dict>
							<key>files/thumbnail-4060.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								B+Ueihp89gmM
								FJOcWX80RQ==
								</data>
								<key>Size</key>
								<integer>13699</integer>
							</dict>
							<key>files/thumbnail-4075.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YWtfAIid0P8M
								JIYZcOOx7g==
								</data>
								<key>Size</key>
								<integer>12391</integer>
							</dict>
							<key>files/thumbnail-4224.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0RirpsaCD7XG
								0tOzkfK5RA==
								</data>
								<key>Size</key>
								<integer>11815</integer>
							</dict>
							<key>files/thumbnail-4273.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yPl9/AjF/waT
								BkIkugMmig==
								</data>
								<key>Size</key>
								<integer>12257</integer>
							</dict>
							<key>files/thumbnail-4352.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dBPtCwrgBqG5
								R2VQCPfs5w==
								</data>
								<key>Size</key>
								<integer>12377</integer>
							</dict>
							<key>files/thumbnail-4359.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0RirpsaCD7XG
								0tOzkfK5RA==
								</data>
								<key>Size</key>
								<integer>11815</integer>
							</dict>
							<key>files/thumbnail-4387.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dBPtCwrgBqG5
								R2VQCPfs5w==
								</data>
								<key>Size</key>
								<integer>12377</integer>
							</dict>
							<key>files/thumbnail-4394.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								aEO//wh7MAD/
								o5gWhHKtLQ==
								</data>
								<key>Size</key>
								<integer>14402</integer>
							</dict>
							<key>files/thumbnail-4550.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pF7tbehY2CtH
								neBfZQvOvA==
								</data>
								<key>Size</key>
								<integer>16216</integer>
							</dict>
							<key>files/thumbnail-4564.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LuV2NiFUU3So
								ewCOHIajgg==
								</data>
								<key>Size</key>
								<integer>12921</integer>
							</dict>
							<key>files/thumbnail-4571.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JzCNlgiA2g1X
								5Ghy5GZk9Q==
								</data>
								<key>Size</key>
								<integer>12090</integer>
							</dict>
							<key>files/thumbnail-4578.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9wgF+zUUPR+a
								AD64kycggQ==
								</data>
								<key>Size</key>
								<integer>15458</integer>
							</dict>
							<key>files/thumbnail-4625.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cUBlxA9J6qxp
								TqUn9iFoyg==
								</data>
								<key>Size</key>
								<integer>14021</integer>
							</dict>
							<key>files/thumbnail-4644.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JphUanpkX3fd
								6RJs43g90g==
								</data>
								<key>Size</key>
								<integer>13526</integer>
							</dict>
							<key>files/thumbnail-4674.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sqZv9aX1VQ94
								8mqPtqOnwQ==
								</data>
								<key>Size</key>
								<integer>13442</integer>
							</dict>
							<key>files/thumbnail-4865.png</key>
							<dict>
								<key>Digest</key>
								<data>
								g4ipHjJ7IM/c
								8I3v7I5Sxg==
								</data>
								<key>Size</key>
								<integer>76533</integer>
							</dict>
							<key>files/top_bottom_filler_image.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								m+6bbauvXr8J
								PaMurpVVQA==
								</data>
								<key>Size</key>
								<integer>16447</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								LzqjAClLX8De
								ncClxzFPoA==
								</data>
								<key>Size</key>
								<integer>65960</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page121</string>
						<key>SiteRoot</key>
						<string>about/leadership-council/2023</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
