<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2018-12-27T19:34:58Z</date>
				<key>ID</key>
				<string>page36</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>EE1</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://gnsrobotics.com:8082</key>
					<dict>
						<key>CreationDate</key>
						<date>2025-03-19T03:20:33Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/droplet-filler-banner.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								B4HOOIgsneUp
								OAltaF+2XA==
								</data>
								<key>Size</key>
								<integer>37530</integer>
							</dict>
							<key>files/droplet-filler-inactive.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sItO1XyZug7G
								HhGVw54Ntg==
								</data>
								<key>Size</key>
								<integer>14952</integer>
							</dict>
							<key>files/droplet-filler.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YGs6OhK8ik7A
								AjRVKbfWMw==
								</data>
								<key>Size</key>
								<integer>25883</integer>
							</dict>
							<key>files/filler_logo.png</key>
							<dict>
								<key>Digest</key>
								<data>
								srL4cpedsOLi
								CjzFdYQ1ZA==
								</data>
								<key>Size</key>
								<integer>3706</integer>
							</dict>
							<key>files/foundry-cc-edit-mode-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								sod/04iwl/0l
								gBvCSNiorQ==
								</data>
								<key>Size</key>
								<integer>7556</integer>
							</dict>
							<key>files/image_filler.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LIl7nKmldC10
								3/oCS0cIhg==
								</data>
								<key>Size</key>
								<integer>2885</integer>
							</dict>
							<key>files/image_stack_img-369.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2XxZrzAxoVAs
								h0KnVqIHNQ==
								</data>
								<key>Size</key>
								<integer>36877</integer>
							</dict>
							<key>files/image_stack_img-370.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2XxZrzAxoVAs
								h0KnVqIHNQ==
								</data>
								<key>Size</key>
								<integer>36877</integer>
							</dict>
							<key>files/image_stack_img-372.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TF5AERmIqB92
								oKr30IOXXw==
								</data>
								<key>Size</key>
								<integer>17723</integer>
							</dict>
							<key>files/image_stack_img-373.png</key>
							<dict>
								<key>Digest</key>
								<data>
								TF5AERmIqB92
								oKr30IOXXw==
								</data>
								<key>Size</key>
								<integer>17723</integer>
							</dict>
							<key>files/image_stack_img-386.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XSgyL5ZkZZZo
								6Kj5PDb9Pg==
								</data>
								<key>Size</key>
								<integer>24654</integer>
							</dict>
							<key>files/site_bkg_image-1-749.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								o6dm0gn/YhOV
								RiSJE+0+Iw==
								</data>
								<key>Size</key>
								<integer>96151</integer>
							</dict>
							<key>files/stacks_page_page36.css</key>
							<dict>
								<key>Digest</key>
								<data>
								mL2t+KI487rV
								Jaq+5MVqKw==
								</data>
								<key>Size</key>
								<integer>175187</integer>
							</dict>
							<key>files/stacks_page_page36.js</key>
							<dict>
								<key>Digest</key>
								<data>
								3kyOsqY3q4nY
								Bs1crt4H0Q==
								</data>
								<key>Size</key>
								<integer>81502</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								SI88+I4WimjT
								CJgNYEzxKg==
								</data>
								<key>Size</key>
								<integer>25244</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page36</string>
						<key>SiteRoot</key>
						<string>ee1</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
