<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2018-09-19T16:26:41Z</date>
				<key>ID</key>
				<string>page107</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>2021-2022</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://gnsrobotics.com:8082</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-06-25T02:05:22Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/card_overlay_img-1783.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								98SP/ugBThIg
								PmvdM1D4Qw==
								</data>
								<key>Size</key>
								<integer>11796</integer>
							</dict>
							<key>files/card_overlay_img-1963.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								K8ypL6Wp7XGk
								UZhj0mc2UA==
								</data>
								<key>Size</key>
								<integer>13028</integer>
							</dict>
							<key>files/card_overlay_img-2138.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								q2OLPERjcY39
								UE8JDpmR6g==
								</data>
								<key>Size</key>
								<integer>12430</integer>
							</dict>
							<key>files/card_overlay_img-2188.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XzVnfC0bHj/D
								QPSudC2dBw==
								</data>
								<key>Size</key>
								<integer>33368</integer>
							</dict>
							<key>files/card_overlay_img-2296.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								98SP/ugBThIg
								PmvdM1D4Qw==
								</data>
								<key>Size</key>
								<integer>11796</integer>
							</dict>
							<key>files/card_overlay_img-2297.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								R0o2Rl4bjw0E
								6bB+mBZhnA==
								</data>
								<key>Size</key>
								<integer>11068</integer>
							</dict>
							<key>files/card_overlay_img-2360.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Gt+B71OWCVea
								J3Dc6SIx5g==
								</data>
								<key>Size</key>
								<integer>12563</integer>
							</dict>
							<key>files/card_overlay_img-2373.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XCTmXaz3CGVG
								8iV9+froBg==
								</data>
								<key>Size</key>
								<integer>11927</integer>
							</dict>
							<key>files/card_overlay_img-2605.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/K708+geHqdO
								omEVuS0yBQ==
								</data>
								<key>Size</key>
								<integer>11276</integer>
							</dict>
							<key>files/card_overlay_img-2719.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qSporIUdxyFI
								RtEKr7VF2g==
								</data>
								<key>Size</key>
								<integer>12111</integer>
							</dict>
							<key>files/card_overlay_img-2755.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								K8ypL6Wp7XGk
								UZhj0mc2UA==
								</data>
								<key>Size</key>
								<integer>13028</integer>
							</dict>
							<key>files/card_overlay_img-2892.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yrygsHqvTOie
								Ia47Q1k/aA==
								</data>
								<key>Size</key>
								<integer>12216</integer>
							</dict>
							<key>files/card_overlay_img-3678.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RQReTKiqTJ4N
								FXyBcCs1mg==
								</data>
								<key>Size</key>
								<integer>12666</integer>
							</dict>
							<key>files/card_overlay_img-3704.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								F9LIiLjDg7U6
								IyK9Q8cYVA==
								</data>
								<key>Size</key>
								<integer>11703</integer>
							</dict>
							<key>files/card_overlay_img-3719.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kxkkfj00KjJ6
								uYSxyXy1Xg==
								</data>
								<key>Size</key>
								<integer>11938</integer>
							</dict>
							<key>files/card_overlay_img-3726.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0qomHqOeHjWU
								gWVbuJkJSg==
								</data>
								<key>Size</key>
								<integer>11739</integer>
							</dict>
							<key>files/card_overlay_img-3733.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iwasncn6kl5r
								IGI1Z+5QdQ==
								</data>
								<key>Size</key>
								<integer>43379</integer>
							</dict>
							<key>files/card_overlay_img-3796.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SCVrcRkptODp
								h2LSDH7gjw==
								</data>
								<key>Size</key>
								<integer>11863</integer>
							</dict>
							<key>files/card_overlay_img-3813.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+GNoDmWYPzUR
								GFSlgtRhRg==
								</data>
								<key>Size</key>
								<integer>12486</integer>
							</dict>
							<key>files/card_overlay_img-3860.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gdfAieKPC2Qj
								uUr8Rh9ERQ==
								</data>
								<key>Size</key>
								<integer>12894</integer>
							</dict>
							<key>files/card_overlay_img-3869.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kkyRyhRAzujt
								HoZPXxxfQQ==
								</data>
								<key>Size</key>
								<integer>12017</integer>
							</dict>
							<key>files/card_overlay_img-3885.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sN8FbvTYcgyx
								Ov0gB38Nsg==
								</data>
								<key>Size</key>
								<integer>12479</integer>
							</dict>
							<key>files/card_overlay_img-3934.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sUSM5nXngxuE
								ooHQxYHiew==
								</data>
								<key>Size</key>
								<integer>12393</integer>
							</dict>
							<key>files/card_overlay_img-3941.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lsTNpMzjNLdK
								lf8mWEenWQ==
								</data>
								<key>Size</key>
								<integer>11740</integer>
							</dict>
							<key>files/card_overlay_img-3966.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ni9nWzHYuk9E
								57s9H/sIAw==
								</data>
								<key>Size</key>
								<integer>34650</integer>
							</dict>
							<key>files/card_overlay_img-3975.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lsTNpMzjNLdK
								lf8mWEenWQ==
								</data>
								<key>Size</key>
								<integer>11740</integer>
							</dict>
							<key>files/card_overlay_img-3989.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gdfAieKPC2Qj
								uUr8Rh9ERQ==
								</data>
								<key>Size</key>
								<integer>12894</integer>
							</dict>
							<key>files/card_overlay_img-4000.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6t/6YFNepJIR
								ZeJLQUWDOQ==
								</data>
								<key>Size</key>
								<integer>13143</integer>
							</dict>
							<key>files/card_overlay_img-4050.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1aWWjh9uaqdJ
								1PjHv7H6Qw==
								</data>
								<key>Size</key>
								<integer>11876</integer>
							</dict>
							<key>files/card_overlay_img-4060.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SCVrcRkptODp
								h2LSDH7gjw==
								</data>
								<key>Size</key>
								<integer>11863</integer>
							</dict>
							<key>files/card_overlay_img-4075.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UNM16PgjnNOr
								xVrszH5nfw==
								</data>
								<key>Size</key>
								<integer>10985</integer>
							</dict>
							<key>files/card_overlay_img-4115.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3nvslph4U46o
								C1WXb/cT3w==
								</data>
								<key>Size</key>
								<integer>11688</integer>
							</dict>
							<key>files/card_overlay_img-4124.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								J9EReaAgfsNK
								67vSSiJxLg==
								</data>
								<key>Size</key>
								<integer>11762</integer>
							</dict>
							<key>files/card_overlay_img-4208.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sN8FbvTYcgyx
								Ov0gB38Nsg==
								</data>
								<key>Size</key>
								<integer>12479</integer>
							</dict>
							<key>files/card_overlay_img-4215.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								R0o2Rl4bjw0E
								6bB+mBZhnA==
								</data>
								<key>Size</key>
								<integer>11068</integer>
							</dict>
							<key>files/card_overlay_img-4224.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1aWWjh9uaqdJ
								1PjHv7H6Qw==
								</data>
								<key>Size</key>
								<integer>11876</integer>
							</dict>
							<key>files/card_overlay_img-4273.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								i2DwmrdU9x1v
								eoQeUqo3dg==
								</data>
								<key>Size</key>
								<integer>10641</integer>
							</dict>
							<key>files/card_overlay_img-4282.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0qomHqOeHjWU
								gWVbuJkJSg==
								</data>
								<key>Size</key>
								<integer>11739</integer>
							</dict>
							<key>files/card_overlay_img-4291.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5lCApmdci6IB
								SLG527QX4Q==
								</data>
								<key>Size</key>
								<integer>11771</integer>
							</dict>
							<key>files/card_overlay_img-4345.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tqDPgOPTZnM3
								/gAWapq9AA==
								</data>
								<key>Size</key>
								<integer>14212</integer>
							</dict>
							<key>files/card_overlay_img-4352.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								R0o2Rl4bjw0E
								6bB+mBZhnA==
								</data>
								<key>Size</key>
								<integer>11068</integer>
							</dict>
							<key>files/card_overlay_img-4359.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3nvslph4U46o
								C1WXb/cT3w==
								</data>
								<key>Size</key>
								<integer>11688</integer>
							</dict>
							<key>files/card_overlay_img-4366.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kkyRyhRAzujt
								HoZPXxxfQQ==
								</data>
								<key>Size</key>
								<integer>12017</integer>
							</dict>
							<key>files/card_overlay_img-4380.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PVoFegV9NWOR
								m74KiCdgMA==
								</data>
								<key>Size</key>
								<integer>13189</integer>
							</dict>
							<key>files/card_overlay_img-4387.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kxkkfj00KjJ6
								uYSxyXy1Xg==
								</data>
								<key>Size</key>
								<integer>11938</integer>
							</dict>
							<key>files/card_overlay_img-4394.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0qomHqOeHjWU
								gWVbuJkJSg==
								</data>
								<key>Size</key>
								<integer>11739</integer>
							</dict>
							<key>files/card_overlay_img-4401.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3nvslph4U46o
								C1WXb/cT3w==
								</data>
								<key>Size</key>
								<integer>11688</integer>
							</dict>
							<key>files/card_overlay_img-4408.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Gt+B71OWCVea
								J3Dc6SIx5g==
								</data>
								<key>Size</key>
								<integer>12563</integer>
							</dict>
							<key>files/card_overlay_img-4422.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kzIMzVsaB3gS
								ju3Q+OZtvg==
								</data>
								<key>Size</key>
								<integer>11728</integer>
							</dict>
							<key>files/card_overlay_img-4429.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								gdfAieKPC2Qj
								uUr8Rh9ERQ==
								</data>
								<key>Size</key>
								<integer>12894</integer>
							</dict>
							<key>files/card_overlay_img-4464.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UM+iEdj0ibw+
								rqOnXTX7AQ==
								</data>
								<key>Size</key>
								<integer>12920</integer>
							</dict>
							<key>files/card_overlay_img-4477.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								i2DwmrdU9x1v
								eoQeUqo3dg==
								</data>
								<key>Size</key>
								<integer>10641</integer>
							</dict>
							<key>files/card_overlay_img-4484.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lsTNpMzjNLdK
								lf8mWEenWQ==
								</data>
								<key>Size</key>
								<integer>11740</integer>
							</dict>
							<key>files/droplet-filler-banner.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								B4HOOIgsneUp
								OAltaF+2XA==
								</data>
								<key>Size</key>
								<integer>37530</integer>
							</dict>
							<key>files/droplet-filler-inactive.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sItO1XyZug7G
								HhGVw54Ntg==
								</data>
								<key>Size</key>
								<integer>14952</integer>
							</dict>
							<key>files/droplet-filler.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YGs6OhK8ik7A
								AjRVKbfWMw==
								</data>
								<key>Size</key>
								<integer>25883</integer>
							</dict>
							<key>files/filler_logo.png</key>
							<dict>
								<key>Digest</key>
								<data>
								srL4cpedsOLi
								CjzFdYQ1ZA==
								</data>
								<key>Size</key>
								<integer>3706</integer>
							</dict>
							<key>files/foundry-cc-edit-mode-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								sod/04iwl/0l
								gBvCSNiorQ==
								</data>
								<key>Size</key>
								<integer>7556</integer>
							</dict>
							<key>files/image_filler.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LIl7nKmldC10
								3/oCS0cIhg==
								</data>
								<key>Size</key>
								<integer>2885</integer>
							</dict>
							<key>files/overlay_image_filler.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9auUfLu9baEf
								7T/TOQT9KQ==
								</data>
								<key>Size</key>
								<integer>11016</integer>
							</dict>
							<key>files/site_bkg_image-1-749.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								o6dm0gn/YhOV
								RiSJE+0+Iw==
								</data>
								<key>Size</key>
								<integer>96151</integer>
							</dict>
							<key>files/stacks_page_page107.css</key>
							<dict>
								<key>Digest</key>
								<data>
								mC+ISOn+Z7eF
								fUL6Zixvcw==
								</data>
								<key>Size</key>
								<integer>346908</integer>
							</dict>
							<key>files/stacks_page_page107.js</key>
							<dict>
								<key>Digest</key>
								<data>
								kpGwg82JilYl
								NqE01hVRMw==
								</data>
								<key>Size</key>
								<integer>95788</integer>
							</dict>
							<key>files/thumbnail-1783.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LKTM3E5b8vJg
								79nXNwu24g==
								</data>
								<key>Size</key>
								<integer>11747</integer>
							</dict>
							<key>files/thumbnail-1963.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KlXXe5v9PJ36
								4RPF+Cw08w==
								</data>
								<key>Size</key>
								<integer>12989</integer>
							</dict>
							<key>files/thumbnail-2138.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Fj3Nzy9N0TdK
								Mqu9b/vgPA==
								</data>
								<key>Size</key>
								<integer>12368</integer>
							</dict>
							<key>files/thumbnail-2188.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								J9EReaAgfsNK
								67vSSiJxLg==
								</data>
								<key>Size</key>
								<integer>11762</integer>
							</dict>
							<key>files/thumbnail-2296.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LKTM3E5b8vJg
								79nXNwu24g==
								</data>
								<key>Size</key>
								<integer>11747</integer>
							</dict>
							<key>files/thumbnail-2297.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wtOwsyaHYLLW
								IsHJ3jmAQw==
								</data>
								<key>Size</key>
								<integer>11063</integer>
							</dict>
							<key>files/thumbnail-2360.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								U5nw6KtvmxKL
								Wy66c/Eplg==
								</data>
								<key>Size</key>
								<integer>12541</integer>
							</dict>
							<key>files/thumbnail-2373.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lA5Ajv7u4+K2
								OQ2/RZ9U1A==
								</data>
								<key>Size</key>
								<integer>11856</integer>
							</dict>
							<key>files/thumbnail-2605.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LuAbsR9f5FPK
								YBeP22wpHQ==
								</data>
								<key>Size</key>
								<integer>11241</integer>
							</dict>
							<key>files/thumbnail-2719.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RztwVlQxdALT
								dVyaYRwD9g==
								</data>
								<key>Size</key>
								<integer>12060</integer>
							</dict>
							<key>files/thumbnail-2755.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KlXXe5v9PJ36
								4RPF+Cw08w==
								</data>
								<key>Size</key>
								<integer>12989</integer>
							</dict>
							<key>files/thumbnail-2892.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iiTkNWQgyfcc
								IOlB8M75jA==
								</data>
								<key>Size</key>
								<integer>12188</integer>
							</dict>
							<key>files/thumbnail-3678.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								65GbQP7j9f+H
								PiWDUPIuPg==
								</data>
								<key>Size</key>
								<integer>12653</integer>
							</dict>
							<key>files/thumbnail-3704.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HKEjubI3mKKD
								4IanafEbxg==
								</data>
								<key>Size</key>
								<integer>11699</integer>
							</dict>
							<key>files/thumbnail-3719.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ip6jhPtQUB7/
								P8B9PljC+Q==
								</data>
								<key>Size</key>
								<integer>11892</integer>
							</dict>
							<key>files/thumbnail-3726.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6DspjJse3rJr
								TJM+GnleEQ==
								</data>
								<key>Size</key>
								<integer>11711</integer>
							</dict>
							<key>files/thumbnail-3733.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								PVoFegV9NWOR
								m74KiCdgMA==
								</data>
								<key>Size</key>
								<integer>13189</integer>
							</dict>
							<key>files/thumbnail-3796.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QTOs6DSemkB1
								JCf2H5NaxQ==
								</data>
								<key>Size</key>
								<integer>11803</integer>
							</dict>
							<key>files/thumbnail-3813.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hpRu4UiMiTwy
								Rso4LAb1bQ==
								</data>
								<key>Size</key>
								<integer>12482</integer>
							</dict>
							<key>files/thumbnail-3860.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ysPIUt4y0Y2P
								vjoURGMhvA==
								</data>
								<key>Size</key>
								<integer>12830</integer>
							</dict>
							<key>files/thumbnail-3869.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tIS4GfnC4Un3
								fbnAHUrifQ==
								</data>
								<key>Size</key>
								<integer>12004</integer>
							</dict>
							<key>files/thumbnail-3885.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/0GQW4q6/XQv
								AKj81Q7kPQ==
								</data>
								<key>Size</key>
								<integer>12448</integer>
							</dict>
							<key>files/thumbnail-3934.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Uwel4Wc7fCXb
								gmJL20sWfw==
								</data>
								<key>Size</key>
								<integer>12385</integer>
							</dict>
							<key>files/thumbnail-3941.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+cpjLYoXFuw+
								/HXhaf8kng==
								</data>
								<key>Size</key>
								<integer>11731</integer>
							</dict>
							<key>files/thumbnail-3966.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VpqfPhZq4xHy
								KPWQzjmVyg==
								</data>
								<key>Size</key>
								<integer>12386</integer>
							</dict>
							<key>files/thumbnail-3975.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+cpjLYoXFuw+
								/HXhaf8kng==
								</data>
								<key>Size</key>
								<integer>11731</integer>
							</dict>
							<key>files/thumbnail-3989.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ysPIUt4y0Y2P
								vjoURGMhvA==
								</data>
								<key>Size</key>
								<integer>12830</integer>
							</dict>
							<key>files/thumbnail-4000.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								92454AJKIIOl
								VgvWsSAtKg==
								</data>
								<key>Size</key>
								<integer>13136</integer>
							</dict>
							<key>files/thumbnail-4050.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qFeYjNB0jVfb
								Mj3yMZkRig==
								</data>
								<key>Size</key>
								<integer>11807</integer>
							</dict>
							<key>files/thumbnail-4060.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QTOs6DSemkB1
								JCf2H5NaxQ==
								</data>
								<key>Size</key>
								<integer>11803</integer>
							</dict>
							<key>files/thumbnail-4075.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EeCRQa8845wc
								12jekPad2Q==
								</data>
								<key>Size</key>
								<integer>10985</integer>
							</dict>
							<key>files/thumbnail-4115.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8EerJTy8V8ZW
								DNFWuq5ocg==
								</data>
								<key>Size</key>
								<integer>11693</integer>
							</dict>
							<key>files/thumbnail-4124.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MirbYHJuLRpo
								r32O5djJtw==
								</data>
								<key>Size</key>
								<integer>11757</integer>
							</dict>
							<key>files/thumbnail-4208.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/0GQW4q6/XQv
								AKj81Q7kPQ==
								</data>
								<key>Size</key>
								<integer>12448</integer>
							</dict>
							<key>files/thumbnail-4215.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wtOwsyaHYLLW
								IsHJ3jmAQw==
								</data>
								<key>Size</key>
								<integer>11063</integer>
							</dict>
							<key>files/thumbnail-4224.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qFeYjNB0jVfb
								Mj3yMZkRig==
								</data>
								<key>Size</key>
								<integer>11807</integer>
							</dict>
							<key>files/thumbnail-4273.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YFrI2q41YfTU
								3wXJ495ZKw==
								</data>
								<key>Size</key>
								<integer>10632</integer>
							</dict>
							<key>files/thumbnail-4282.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6DspjJse3rJr
								TJM+GnleEQ==
								</data>
								<key>Size</key>
								<integer>11711</integer>
							</dict>
							<key>files/thumbnail-4291.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HcAeh+gZ3zJs
								X2JjZddmkg==
								</data>
								<key>Size</key>
								<integer>11761</integer>
							</dict>
							<key>files/thumbnail-4345.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cs14/UTGnQR1
								5Y7Y77H5fA==
								</data>
								<key>Size</key>
								<integer>14209</integer>
							</dict>
							<key>files/thumbnail-4352.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wtOwsyaHYLLW
								IsHJ3jmAQw==
								</data>
								<key>Size</key>
								<integer>11063</integer>
							</dict>
							<key>files/thumbnail-4359.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8EerJTy8V8ZW
								DNFWuq5ocg==
								</data>
								<key>Size</key>
								<integer>11693</integer>
							</dict>
							<key>files/thumbnail-4366.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tIS4GfnC4Un3
								fbnAHUrifQ==
								</data>
								<key>Size</key>
								<integer>12004</integer>
							</dict>
							<key>files/thumbnail-4380.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8yVSp7ue16wO
								KObTYBUplA==
								</data>
								<key>Size</key>
								<integer>13163</integer>
							</dict>
							<key>files/thumbnail-4387.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ip6jhPtQUB7/
								P8B9PljC+Q==
								</data>
								<key>Size</key>
								<integer>11892</integer>
							</dict>
							<key>files/thumbnail-4394.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6DspjJse3rJr
								TJM+GnleEQ==
								</data>
								<key>Size</key>
								<integer>11711</integer>
							</dict>
							<key>files/thumbnail-4401.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8EerJTy8V8ZW
								DNFWuq5ocg==
								</data>
								<key>Size</key>
								<integer>11693</integer>
							</dict>
							<key>files/thumbnail-4408.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								U5nw6KtvmxKL
								Wy66c/Eplg==
								</data>
								<key>Size</key>
								<integer>12541</integer>
							</dict>
							<key>files/thumbnail-4422.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0jPgZoOP7QsA
								2LN8LD5hOQ==
								</data>
								<key>Size</key>
								<integer>11673</integer>
							</dict>
							<key>files/thumbnail-4429.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ysPIUt4y0Y2P
								vjoURGMhvA==
								</data>
								<key>Size</key>
								<integer>12830</integer>
							</dict>
							<key>files/thumbnail-4464.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tVswxwx11klv
								SAtIn0EDpA==
								</data>
								<key>Size</key>
								<integer>12906</integer>
							</dict>
							<key>files/thumbnail-4477.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YFrI2q41YfTU
								3wXJ495ZKw==
								</data>
								<key>Size</key>
								<integer>10632</integer>
							</dict>
							<key>files/thumbnail-4484.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+cpjLYoXFuw+
								/HXhaf8kng==
								</data>
								<key>Size</key>
								<integer>11731</integer>
							</dict>
							<key>files/top_bottom_filler_image.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								m+6bbauvXr8J
								PaMurpVVQA==
								</data>
								<key>Size</key>
								<integer>16447</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								iWqaZAjMXGkH
								+4sO+3DxtA==
								</data>
								<key>Size</key>
								<integer>83447</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page107</string>
						<key>SiteRoot</key>
						<string>about/leadership-council/2022</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
