<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2018-03-30T12:21:48Z</date>
				<key>ID</key>
				<string>page27</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Team Mentors</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://gnsrobotics.com:8082</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-06-25T02:05:22Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/card_overlay_img-127.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ntn8g/ayUL13
								kgICaNP1Kw==
								</data>
								<key>Size</key>
								<integer>244189</integer>
							</dict>
							<key>files/card_overlay_img-192.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Bo8VOOw2msld
								7IgZA+lIjQ==
								</data>
								<key>Size</key>
								<integer>275257</integer>
							</dict>
							<key>files/card_overlay_img-204.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								j1r7WDYVRas+
								Ym201hVuwg==
								</data>
								<key>Size</key>
								<integer>294216</integer>
							</dict>
							<key>files/card_overlay_img-216.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								HqhByhZLvZeI
								hok1wEeIEg==
								</data>
								<key>Size</key>
								<integer>252391</integer>
							</dict>
							<key>files/card_overlay_img-254.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eYXgLTJyFaIf
								A0N3c7weqg==
								</data>
								<key>Size</key>
								<integer>42838</integer>
							</dict>
							<key>files/card_overlay_img-263.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NHfR+LZIq6BG
								woEZvt3bSw==
								</data>
								<key>Size</key>
								<integer>30892</integer>
							</dict>
							<key>files/card_overlay_img-285.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uSf6UI6v/O0n
								v0EOMVtl8A==
								</data>
								<key>Size</key>
								<integer>89496</integer>
							</dict>
							<key>files/droplet-filler-banner.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								B4HOOIgsneUp
								OAltaF+2XA==
								</data>
								<key>Size</key>
								<integer>37530</integer>
							</dict>
							<key>files/droplet-filler-inactive.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sItO1XyZug7G
								HhGVw54Ntg==
								</data>
								<key>Size</key>
								<integer>14952</integer>
							</dict>
							<key>files/droplet-filler.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YGs6OhK8ik7A
								AjRVKbfWMw==
								</data>
								<key>Size</key>
								<integer>25883</integer>
							</dict>
							<key>files/filler_logo.png</key>
							<dict>
								<key>Digest</key>
								<data>
								srL4cpedsOLi
								CjzFdYQ1ZA==
								</data>
								<key>Size</key>
								<integer>3706</integer>
							</dict>
							<key>files/foundry-cc-edit-mode-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								sod/04iwl/0l
								gBvCSNiorQ==
								</data>
								<key>Size</key>
								<integer>7556</integer>
							</dict>
							<key>files/image_filler.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LIl7nKmldC10
								3/oCS0cIhg==
								</data>
								<key>Size</key>
								<integer>2885</integer>
							</dict>
							<key>files/overlay_image_filler.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9auUfLu9baEf
								7T/TOQT9KQ==
								</data>
								<key>Size</key>
								<integer>11016</integer>
							</dict>
							<key>files/site_bkg_image-1-749.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								o6dm0gn/YhOV
								RiSJE+0+Iw==
								</data>
								<key>Size</key>
								<integer>96151</integer>
							</dict>
							<key>files/stacks_page_page27.css</key>
							<dict>
								<key>Digest</key>
								<data>
								fIIFNbWQtQV+
								ou0BBRPBFA==
								</data>
								<key>Size</key>
								<integer>192130</integer>
							</dict>
							<key>files/stacks_page_page27.js</key>
							<dict>
								<key>Digest</key>
								<data>
								c2DW2p4X3LKI
								CefFh0uoJw==
								</data>
								<key>Size</key>
								<integer>82365</integer>
							</dict>
							<key>files/thumbnail-127.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rad6iXIQA6gL
								ZquoLqXCZg==
								</data>
								<key>Size</key>
								<integer>11753</integer>
							</dict>
							<key>files/thumbnail-192.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VWD1GaLNp0Nw
								G5cGbG9hUQ==
								</data>
								<key>Size</key>
								<integer>13092</integer>
							</dict>
							<key>files/thumbnail-204.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								u+2qqll6OuGM
								eUPP4gokgg==
								</data>
								<key>Size</key>
								<integer>11200</integer>
							</dict>
							<key>files/thumbnail-216.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eDgnKAyTv7Qe
								shLZp1yyvA==
								</data>
								<key>Size</key>
								<integer>12800</integer>
							</dict>
							<key>files/thumbnail-254.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ebGU4PT7Vb5+
								EFiOvy3IBA==
								</data>
								<key>Size</key>
								<integer>13459</integer>
							</dict>
							<key>files/thumbnail-263.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								auypsutWJDKG
								KZhLY5SP9Q==
								</data>
								<key>Size</key>
								<integer>13065</integer>
							</dict>
							<key>files/thumbnail-285.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								syJg5wLoUDL8
								ZG37US8ORw==
								</data>
								<key>Size</key>
								<integer>14663</integer>
							</dict>
							<key>files/top_bottom_filler_image.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								m+6bbauvXr8J
								PaMurpVVQA==
								</data>
								<key>Size</key>
								<integer>16447</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								SESRMEjI89MS
								/938biVjtg==
								</data>
								<key>Size</key>
								<integer>32014</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page27</string>
						<key>SiteRoot</key>
						<string>about/mentors</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
