<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2018-04-05T00:47:30Z</date>
				<key>ID</key>
				<string>page23</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>About this Website</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://gnsrobotics.com:8082</key>
					<dict>
						<key>CreationDate</key>
						<date>2025-02-12T03:45:59Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/card_overlay_img-172.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								73laFDJvkneY
								vwdFmEEDRw==
								</data>
								<key>Size</key>
								<integer>6296</integer>
							</dict>
							<key>files/card_overlay_img-196.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qHKozGh++apr
								EIbZXetqig==
								</data>
								<key>Size</key>
								<integer>53997</integer>
							</dict>
							<key>files/card_overlay_img-214.png</key>
							<dict>
								<key>Digest</key>
								<data>
								8jfrfORM3psW
								wOtfMKld2w==
								</data>
								<key>Size</key>
								<integer>7922</integer>
							</dict>
							<key>files/card_overlay_img-230.png</key>
							<dict>
								<key>Digest</key>
								<data>
								odaVnclcUlmo
								ILgiEJjcGg==
								</data>
								<key>Size</key>
								<integer>231327</integer>
							</dict>
							<key>files/card_overlay_img-306.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								73laFDJvkneY
								vwdFmEEDRw==
								</data>
								<key>Size</key>
								<integer>6296</integer>
							</dict>
							<key>files/droplet-filler-banner.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								B4HOOIgsneUp
								OAltaF+2XA==
								</data>
								<key>Size</key>
								<integer>37530</integer>
							</dict>
							<key>files/droplet-filler-inactive.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sItO1XyZug7G
								HhGVw54Ntg==
								</data>
								<key>Size</key>
								<integer>14952</integer>
							</dict>
							<key>files/droplet-filler.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YGs6OhK8ik7A
								AjRVKbfWMw==
								</data>
								<key>Size</key>
								<integer>25883</integer>
							</dict>
							<key>files/filler_logo.png</key>
							<dict>
								<key>Digest</key>
								<data>
								srL4cpedsOLi
								CjzFdYQ1ZA==
								</data>
								<key>Size</key>
								<integer>3706</integer>
							</dict>
							<key>files/foundry-cc-edit-mode-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								sod/04iwl/0l
								gBvCSNiorQ==
								</data>
								<key>Size</key>
								<integer>7556</integer>
							</dict>
							<key>files/image_filler.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LIl7nKmldC10
								3/oCS0cIhg==
								</data>
								<key>Size</key>
								<integer>2885</integer>
							</dict>
							<key>files/logo-font/foundrylogo.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								6eEgVG7pY0mg
								db83M3cjsQ==
								</data>
								<key>Size</key>
								<integer>1740</integer>
							</dict>
							<key>files/logo-font/foundrylogo.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								IKE0wAAw3OuN
								S6TUGijA3w==
								</data>
								<key>Size</key>
								<integer>972</integer>
							</dict>
							<key>files/logo-font/foundrylogo.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								GaX5GEWwC5eN
								Rgu+ZKLTJQ==
								</data>
								<key>Size</key>
								<integer>1560</integer>
							</dict>
							<key>files/logo-font/foundrylogo.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								fspaAJflU1TV
								dm+Ywt7+0A==
								</data>
								<key>Size</key>
								<integer>1096</integer>
							</dict>
							<key>files/overlay_image_filler.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9auUfLu9baEf
								7T/TOQT9KQ==
								</data>
								<key>Size</key>
								<integer>11016</integer>
							</dict>
							<key>files/promo-images/foundry-icon-24-orange.png</key>
							<dict>
								<key>Digest</key>
								<data>
								NSTai/aR6y9y
								hogPPySCHw==
								</data>
								<key>Size</key>
								<integer>1925</integer>
							</dict>
							<key>files/promo-images/foundry-icon-36-orange.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zvTORiKwUBNj
								gtdyYjP0ig==
								</data>
								<key>Size</key>
								<integer>2561</integer>
							</dict>
							<key>files/site_bkg_image-1-749.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								o6dm0gn/YhOV
								RiSJE+0+Iw==
								</data>
								<key>Size</key>
								<integer>96151</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wANifJ2yGeIS
								vLjVRAp1mw==
								</data>
								<key>Size</key>
								<integer>1296</integer>
							</dict>
							<key>files/stacks_page_page23.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Wm919lQ6vShM
								ZKQuAK7RsQ==
								</data>
								<key>Size</key>
								<integer>212512</integer>
							</dict>
							<key>files/stacks_page_page23.js</key>
							<dict>
								<key>Digest</key>
								<data>
								BcKcdSO5LFh+
								O7eCoQvsUw==
								</data>
								<key>Size</key>
								<integer>83696</integer>
							</dict>
							<key>files/thumbnail-172.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NSPCL+C9DSTP
								Bq2PrPpq8A==
								</data>
								<key>Size</key>
								<integer>11117</integer>
							</dict>
							<key>files/thumbnail-196.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tTHn7+RiBkEG
								o+Z22TmW6g==
								</data>
								<key>Size</key>
								<integer>11560</integer>
							</dict>
							<key>files/thumbnail-214.png</key>
							<dict>
								<key>Digest</key>
								<data>
								jC9jKmp+mb/R
								X4dnDm8aTA==
								</data>
								<key>Size</key>
								<integer>11459</integer>
							</dict>
							<key>files/thumbnail-230.png</key>
							<dict>
								<key>Digest</key>
								<data>
								63TmoypT70+P
								n23lJE+eIA==
								</data>
								<key>Size</key>
								<integer>51319</integer>
							</dict>
							<key>files/thumbnail-306.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								NSPCL+C9DSTP
								Bq2PrPpq8A==
								</data>
								<key>Size</key>
								<integer>11117</integer>
							</dict>
							<key>files/top_bottom_filler_image.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								m+6bbauvXr8J
								PaMurpVVQA==
								</data>
								<key>Size</key>
								<integer>16447</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								uyZeQuHVtVLc
								pcInJiueig==
								</data>
								<key>Size</key>
								<integer>42757</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page23</string>
						<key>SiteRoot</key>
						<string>about-this-website</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
