<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>404 Not Found</string>
				<key>CreatedDate</key>
				<date>2018-05-10T01:07:52Z</date>
				<key>ID</key>
				<string>page39</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>404</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://gnsrobotics.com:8082</key>
					<dict>
						<key>CreationDate</key>
						<date>2024-06-25T02:05:22Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/dealerAssets/dealer.php</key>
							<dict>
								<key>Digest</key>
								<data>
								5SYq3yw9ELBB
								86FDsMW0FA==
								</data>
								<key>Size</key>
								<integer>634</integer>
							</dict>
							<key>files/dealerAssets/minicard.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								Af/9rDoC9v+6
								O2n4IaJbmA==
								</data>
								<key>Size</key>
								<integer>2525</integer>
							</dict>
							<key>files/dealerAssets/pixel.png</key>
							<dict>
								<key>Digest</key>
								<data>
								PKSZmKMWoMWE
								KR2P1QURag==
								</data>
								<key>Size</key>
								<integer>70</integer>
							</dict>
							<key>files/droplet-filler-banner.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								B4HOOIgsneUp
								OAltaF+2XA==
								</data>
								<key>Size</key>
								<integer>37530</integer>
							</dict>
							<key>files/droplet-filler-inactive.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sItO1XyZug7G
								HhGVw54Ntg==
								</data>
								<key>Size</key>
								<integer>14952</integer>
							</dict>
							<key>files/droplet-filler.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YGs6OhK8ik7A
								AjRVKbfWMw==
								</data>
								<key>Size</key>
								<integer>25883</integer>
							</dict>
							<key>files/filler_logo.png</key>
							<dict>
								<key>Digest</key>
								<data>
								srL4cpedsOLi
								CjzFdYQ1ZA==
								</data>
								<key>Size</key>
								<integer>3706</integer>
							</dict>
							<key>files/foundry-cc-edit-mode-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								sod/04iwl/0l
								gBvCSNiorQ==
								</data>
								<key>Size</key>
								<integer>7556</integer>
							</dict>
							<key>files/image_filler.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LIl7nKmldC10
								3/oCS0cIhg==
								</data>
								<key>Size</key>
								<integer>2885</integer>
							</dict>
							<key>files/site_bkg_image-1-749.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								o6dm0gn/YhOV
								RiSJE+0+Iw==
								</data>
								<key>Size</key>
								<integer>96151</integer>
							</dict>
							<key>files/stacks_page_page39.css</key>
							<dict>
								<key>Digest</key>
								<data>
								cLsBZvBRE8UX
								24vF5CG56Q==
								</data>
								<key>Size</key>
								<integer>211281</integer>
							</dict>
							<key>files/stacks_page_page39.js</key>
							<dict>
								<key>Digest</key>
								<data>
								bq8detpbKX9t
								PF+heuK6aA==
								</data>
								<key>Size</key>
								<integer>114724</integer>
							</dict>
							<key>files/stellarAssets/star.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								n7MW6dBCFw3C
								g4HuEzmbiw==
								</data>
								<key>Size</key>
								<integer>5730</integer>
							</dict>
							<key>files/theimage-48.png</key>
							<dict>
								<key>Digest</key>
								<data>
								4eJ4FCL+axYO
								uedWkceTXQ==
								</data>
								<key>Size</key>
								<integer>15369</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								msFn0cJx5qVN
								7GeruroY8w==
								</data>
								<key>Size</key>
								<integer>27560</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page39</string>
						<key>SiteRoot</key>
						<string>404</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
