<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2019-03-03T03:21:34Z</date>
				<key>ID</key>
				<string>page75</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Sebby Singing</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.3.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://gnsrobotics.com:8082</key>
					<dict>
						<key>CreationDate</key>
						<date>2025-03-19T05:43:31Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/F4DB1F66-4918-43A0-A5CE-8EF8D27963F7.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Zg0JcxphUK/9
								iNqt4Fax0g==
								</data>
								<key>Size</key>
								<integer>28237</integer>
							</dict>
							<key>files/filler_logo.png</key>
							<dict>
								<key>Digest</key>
								<data>
								srL4cpedsOLi
								CjzFdYQ1ZA==
								</data>
								<key>Size</key>
								<integer>3706</integer>
							</dict>
							<key>files/foundry-cc-edit-mode-icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								sod/04iwl/0l
								gBvCSNiorQ==
								</data>
								<key>Size</key>
								<integer>7556</integer>
							</dict>
							<key>files/stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wANifJ2yGeIS
								vLjVRAp1mw==
								</data>
								<key>Size</key>
								<integer>1296</integer>
							</dict>
							<key>files/stacks_page_page75.css</key>
							<dict>
								<key>Digest</key>
								<data>
								PuCFndBEbsAd
								OmdjEjg1vg==
								</data>
								<key>Size</key>
								<integer>181952</integer>
							</dict>
							<key>files/stacks_page_page75.js</key>
							<dict>
								<key>Digest</key>
								<data>
								0/+jS2KLLpPb
								jloP6XCOig==
								</data>
								<key>Size</key>
								<integer>191777</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								BS3Gb64mNEcV
								f1WbyHgxLw==
								</data>
								<key>Size</key>
								<integer>12233</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page75</string>
						<key>SiteRoot</key>
						<string>i-love-robotics-i-love-tech-no-lo-geeeeeeeeeeee/i-will-be-listening-to-this-for-centuries</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
