<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict/>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>01-3-20-25</string>
				<string>02-3-16-25</string>
				<string>03-3-12-25</string>
				<string>04-3-9-25</string>
				<string>05-1-10-25</string>
				<string>06-12-16-24-</string>
				<string>07-10-27-24</string>
				<string>08-4-20-24</string>
				<string>09-4-6-24</string>
				<string>10-3-23-24</string>
				<string>11-3-11-24</string>
				<string>12-3-2-24</string>
				<string>13-1-6-24</string>
				<string>14-1-5-24</string>
				<string>15-1-3-24</string>
				<string>16-1-2-24</string>
				<string>17-10-26-23</string>
				<string>18-4-23-23</string>
				<string>19-4-8-23</string>
				<string>20-3-25-23</string>
				<string>21-3-17-23</string>
				<string>22-3-6-23</string>
				<string>23-1-29-23</string>
				<string>24-11-15-22</string>
				<string>25-9-8-22</string>
				<string>26-9-6-22</string>
				<string>27-5-4-22</string>
				<string>28-5-2-22</string>
				<string>29-3-23-22</string>
				<string>30-3-18-22</string>
				<string>31-2-9-22</string>
				<string>32-1-29-22</string>
				<string>33-1-18-22</string>
				<string>34-12-21-21</string>
				<string>35-12-9-21</string>
				<string>36-9-17-21</string>
				<string>37-3-17-21</string>
				<string>38-9-18-20</string>
				<string>39-4-30-20</string>
				<string>40-3-10-20</string>
				<string>41-1-4-20</string>
				<string>42-9-12-19</string>
				<string>43-5-13-19</string>
				<string>44-4-6-19</string>
				<string>45-3-20-19</string>
				<string>46-3-14-19</string>
				<string>47-2-22-19</string>
				<string>48-1-5-19</string>
				<string>49-12-14-18</string>
				<string>50-9-19-18</string>
				<string>51-9-18-18</string>
				<string>52-5-9-18</string>
				<string>53-4-11-18</string>
				<string>54-3-24-18</string>
				<string>55-4-6-18</string>
				<string>56-3-19-18</string>
				<string>57-3-24-17</string>
				<string>58-9-24-16</string>
				<string>59-5-3-16</string>
				<string>60-4-4-16</string>
				<string>61-3-27-16</string>
				<string>62-2-24-16</string>
				<string>63-2-23-16</string>
				<string>64-1-15-16</string>
				<string>65-11-14-15</string>
				<string>66-10-17-15</string>
				<string>67-6-2-15</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Pages</string>
</dict>
</plist>
